<% content_for(:description) do %>
  <%= sanitize(truncate(@article.content.gsub("\r","").gsub("\n","").gsub("#",""), length: 200)) %>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:blog_main_title, name: "#{ENV['FIRSTNAME'].upcase} #{ENV['LASTNAME'].upcase}")%>. <%= @article.title %>
<% end %>
<% content_for(:meta_image) do %>
  <%= cl_image_path @article.article_main_photo.path if  @article.article_main_photo %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% if user_signed_in? && current_user.admin %>
        <div class="article-edit">
          <% @markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {}) %>
          <% @markdown = @markdown.render(@article.content || "") %>
          <%= render 'shared/articletyping' %>
        </div>
        <div class="article-comments-list">
          <% @comments.each do |comment| %>
              <%= render 'articles/comment_show', comment: comment %>
          <% end %>
        </div>
      <% else %>

        <div id="article-show">
          <div class="article-top-bloc">
            <%= facebook_share_id("facebookshare") %>
            <h1><%= @article.title %></h1>
            <% if @article.article_main_photo %>
              <style>
                .article-top-bloc {
                  background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url(<%= cl_image_path @article.article_main_photo.path %>);
                  background-size: cover;
                  background-position-y: center;
                  background-position-x: center;
                }
              </style>
              <% else %>
              <style>
                .article-top-bloc {
                  background: #242424;
                }
                </style>
              <% end %>
          </div>
          <% article_display("article", "horizontal") %>
          <div class="article-content">
            <%= @markdown.html_safe %>
          </div>
        </div>
        <hr>

        <div class="commentsbloc">
          <% if user_signed_in? %>
            <div class="article-comments">
              <h2><%= t(:comment_article)%></h2>
              <%= render 'articles/form' %>
            </div>
          <% else %>
            <%= link_to new_user_session_path, class: "connection-temoignage" do %>
              <i class="fa fa-arrow-right"></i> <%=t(:connect_to_comment)%>
            <% end %>
          <% end %>

          <div class="article-comments-list">
            <% if @comments.any? %>
              <h2><%=t(:comment, count:@comments.size ) %> : </h2>
              <% @comments.each do |comment| %>
                  <%= render 'articles/comment_show', comment: comment %>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
<% content_for(:after_js) do %>
<% article_image_path = @article.article_main_photo ? @article.article_main_photo.path : "" %>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%=request.original_url%>"
  },
  "headline": "<%= @article.title %>",
  "image": ["<%= cl_image_path article_image_path %>"],
  "datePublished": "<%= @article.created_at %>",
  "dateModified": "<%= @article.updated_at %>",
  "author": {
    "@type": "Person",
    "name": "<%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>"
  },
   "publisher": {
    "@type": "Organization",
    "name": "<%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "logo": {
      "@type": "ImageObject",
      "url": "<%=request.original_url%><%= image_path ENV['HOMEPIC']%>"
    }
  },
  "description": "<%= sanitize(truncate(@article.content.gsub("\r","").gsub("\n","").gsub("#",""), length: 200)) %>"
}
</script>
<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
    data-pin-round="true"
    data-pin-tall="15px"
></script>
<%= render 'shared/facebookshare' %>
<% end %>
