<p>Bonjour <%= @lesson.user.first_name %> <%= @lesson.user.last_name %>,</p>

<% if @lesson.confirmed %>
  <p>Votre visite le <%= "#{@lesson.start.day} #{@lesson.start.strftime("%B")} #{@lesson.start.year}" %>, à l'atelier Eden Black est annulée suite à une indisponibilité. Veuillez nous en excuser.</p>
<% else %>
  <p>Nous sommes désolés, mais nous ne pouvons accepter votre demande de visite à l'atelier Eden Black pour le <%= "#{@lesson.start.day} #{@lesson.start.strftime("%B")} #{@lesson.start.year}" %>. Suite à une indisponibilité, l'atelier est fermé ce jour.</p>
<% end %>

<p>Cordialement</p>

<p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
<p>email : <%= "#{ENV['EMAIL']}" %></p>
<p>téléphone : <%= "#{ENV['TELEPHONE']}" %></p>
