<p>Bonjour <%= @lesson.user.first_name %> <%= @lesson.user.last_name %>,</p>

<p> Votre demande de visite dans l'atelier Eden Black est acceptée, pour le <%= "#{@lesson.start.day} #{@lesson.start.strftime("%B")} #{@lesson.start.year}" %>. L'atelier est ouvert de 10h à 17h. Prévenez-moi par mail où par téléphone de l'heure à laquelle vous arrivez.</p>

<p>Cordialement</p>

<p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
<p>email : <%= "#{ENV['EMAIL']}" %></p>
<p>téléphone : <%= "#{ENV['TELEPHONE']}" %></p>



