<p>Bonjour <%= @lesson.user.first_name %> <%= @lesson.user.last_name %>,</p>
<p> Merci pour le paiement des arrhes pour votre stage. Votre stage est validé.</p>
<p>Premier jour de stage <%= "#{@lesson.start.day}/#{@lesson.start.month}/#{@lesson.start.year}" %>, pour une durée de <%= "#{@lesson.duration}" %> jours.</p>
<p>Cordialement</p>
<p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
<p>email : <%= "#{ENV['EMAIL']}" %></p>
<p>téléphone : <%= "#{ENV['TELEPHONE']}" %></p>
