<% if @orientation == "horizontal" %>

  <div class="col-xs-6">
    <%= simple_form_for @article do |f| %>
      <%= f.error_notification %>
      <% if params[:controller] == "articles" %>
        <%= f.input :title %>
      <% end %>
      <%= f.input :content, :input_html => { :id => (@input_id || "input1") } %>
      <% if params[:controller] == "articles" %>
        <%= f.input :article_main_photo, as: :attachinary %>
      <% end %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @article.id } %>
      <%= f.input :name, :as => :hidden, :input_html => { :value => (@name || "article") } %>
      <%= f.button :submit, "Enregistrer le contenu", class: "btn btn-primary text-save-btn", name: "button" %>
    <% end %>
  </div>
  <% if params[:controller] == "articles" %>
    <div id="live_article_title">
      <div id="h1-live_article_title">
        <h1><%= @article.title %></h1>
      </div>
    </div>
  <% end %>
  <div class="col-xs-6" id="<%=@live_id || "live-text1"%>">
    <%= @markdown.html_safe %>
  </div>

<% else %>
    <% if params[:controller] == "articles" %>
      <div id="live_article_title">
        <div id="h1-live_article_title">
          <h1><%= @article.title %></h1>
        </div>
      </div>
    <% end %>
    <div id="<%=@live_id || "live-text1"%>"><%= @markdown.html_safe %></div>
    <%= simple_form_for @article do |f| %>
      <%= f.error_notification %>
      <% if params[:controller] == "articles" %>
        <%= f.input :title %>
      <% end %>
      <%= f.input :content, :input_html => { :id => (@input_id || "input1") } %>
      <% if params[:controller] == "articles" %>
        <%= f.input :article_main_photo, as: :attachinary %>
      <% end %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @article.id } %>
      <%= f.input :name, :as => :hidden, :input_html => { :value => (@name || "article") } %>
      <%= f.button :submit, "Enregistrer le contenu", class: "btn btn-primary text-save-btn", name: "button" %>
    <% end %>

<% end %>

