<!-- LAPTOP -->

  <div id="footer-lighttheme">
    <div class="contact">
      <div class="connect">
        <h3><%=t(:stay_caught_up)%></h3>
        <h4>Facebook</h4>
        <h4>Instagram</h4>
        <div class="hidden-xs hidden-sm hidden-md">
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <%= link_to admin_root_path, class: "admin-link" do %>
                <h4>Administration</h4>
              <% end %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <h4><%=t(:unconnect)%></h4>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "connect-link" do %>
              <h4><%=t(:connect)%></h4>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="connect">
        <h3><%=t(:information)%></h3>
        <%= link_to cgv_path do%>
          <h4><%=t(:cgv_short)%></h4>
        <% end %>
        <%= link_to legal_path do%>
          <h4><%=t(:data)%></h4>
        <% end %>
      </div>
    </div>
    <%= link_to @dev_redirection || session[:dev_redirection_default], title: "Créez votre boutique en ligne avec l'agence de Guillaume Crouillere", class: "link-guillaume" do %>
      <%= image_tag  'legolight.svg', alt: "Guillaume Crouillere - Developpeur WEB indépendant"%>
    <% end %>
  </div>
