<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: "Retour à l'accueil de notre offre de boutique ligne" do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to admin_root_path do %>
            <span><i class="fa fa-unlock-alt"></i> Administration</span>
          <% end %>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span><i class="fa fa-bars"></i> Boutique</span>
        <% end %>
        <%= link_to info_path do %>
          <span><i class="fa fa-female"></i> Infos</span>
        <% end %>
        <%= link_to new_lesson_path do %>
          <span><i class="fa fa-calendar-o"></i> Réserver un stage</span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><i class="fa fa-shopping-cart"></i></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="navbar-item">
      <div class="nav-bar-list">
        <%= link_to ceramiques_path do %>
          <span><i class="fa fa-bars"></i> Boutique</span>
        <% end %>
        <%= link_to info_path do %>
            <span><i class="fa fa-female"></i> Infos</span>
        <% end %>
        <%= link_to new_lesson_path do %>
          <span><i class="fa fa-calendar-o"></i> Réserver un stage</span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><i class="fa fa-shopping-cart"></i></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile" do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>

  <div class="navbar-item">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
          <span><i class="fa fa-bars"></i> Shop</span>
        <% end %>
      <%= link_to info_path do %>
        <li><span><i class="fa fa-female"></i> Infos</span></li>
      <% end %>
      <%= link_to new_lesson_path do %>
        <span><i class="fa fa-calendar-o"></i> Stage</span>
      <% end %>

      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><i class="fa fa-shopping-cart"></i></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
