<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop-darktheme hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: "Retour à l'accueil de notre offre de boutique ligne" do %>
    <%= "#{ENV['FIRSTNAME']} #{ENV['LASTNAME'].capitalize}" %>
  <% end %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to admin_root_path do %>
            <span>Administration</span>
          <% end %>
        <% end %>
        <%= link_to root_path do %>
          <span><%=t(:home_page)%></span>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span><%=t(:shop_link)%></span>
        <% end %>
        <%= link_to contact_path do %>
          <span><%=t(:info_link)%></span>
        <% end %>
        <%= link_to articles_path do %>
          <span><%=t(:blog_link)%></span>
        <% end %>
        <%= link_to new_lesson_path do %>
          <span><%=t(:lesson_link)%></span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>

  <% else %>
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <%= link_to root_path do %>
          <span><%=t(:home_page)%></span>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span><%=t(:shop_link)%></span>
        <% end %>
        <%= link_to contact_path do %>
          <span><%=t(:info_link)%></span>
        <% end %>
        <%= link_to articles_path do %>
          <span><%=t(:blog_link)%></span>
        <% end %>
        <%= link_to new_lesson_path do %>
          <span><%=t(:lesson_link)%></span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile-darktheme hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile" do %>
    <%= "#{ENV['FIRSTNAME'][0].capitalize} #{ENV['LASTNAME'][0].capitalize}" %>
  <% end %>

  <div class="navbar-item-darktheme">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
        <span><%=t(:shop_link_mobile)%></span>
      <% end %>
      <%= link_to contact_path do %>
        <%= image_tag "info-white.svg", class: "infoimg"%>
      <% end %>
      <%= link_to articles_path do %>
        <%= image_tag "blog-white.svg", class: "blogimg"%>
      <% end %>
      <%= link_to new_lesson_path do %>
        <span><%=t(:lesson_link_mobile)%></span>
      <% end %>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>

    </div>
  </div>

</div>
