<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: t(:navbar_home_link) do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to admin_root_path do %>
            <span><i class="fa fa-unlock-alt"></i> Administration</span>
          <% end %>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span><i class="fa fa-bars"></i> <%= t(:shop_link) %></span>
        <% end %>
        <%= link_to info_path do %>
          <span><i class="fa fa-female"></i> <%= t(:info_link) %></span>
        <% end %>
        <%= link_to articles_path do %>
          <span><i class="fas fa-pen-square"></i> <%= t(:blog_link) %></span>
        <% end %>
        <%= link_to new_lesson_path do %>
          <span><i class="far fa-calendar-alt"></i> <%= t(:lesson_link) %></span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><i class="fa fa-shopping-cart"></i></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>

  <% else %>
    <div class="navbar-item">
      <div class="nav-bar-list">
        <%= link_to ceramiques_path do %>
          <span><i class="fa fa-bars"></i> <%= t(:shop_link) %></span>
        <% end %>
        <%= link_to info_path do %>
            <span><i class="fa fa-female"></i> <%= t(:info_link) %></span>
        <% end %>
        <%= link_to articles_path do %>
          <span><i class="fas fa-pen-square"></i> <%= t(:blog_link) %></span>
        <% end %>
        <%= link_to new_lesson_path do %>
          <span><i class="far fa-calendar-alt"></i> <%= t(:lesson_link) %></span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><i class="fa fa-shopping-cart"></i></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile" do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>

  <div class="navbar-item">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
          <span><%= t(:shop_link_mobile) %></span>
        <% end %>
      <%= link_to info_path do %>
        <span><%= t(:info_link) %></span>
      <% end %>
      <%= link_to articles_path do %>
        <i class="fas fa-pen-square"></i>
      <% end %>
      <%= link_to new_lesson_path do %>
        <span><%= t(:lesson_link_mobile) %></span>
      <% end %>

      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><i class="fa fa-shopping-cart"></i></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
