<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop hidden-xs hidden-sm">
  <div class="main-nav">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand", title: t(:navbar_home_link) do %>
      <%= render 'shared/logo_pic' %>
      <%= @logositepictag %> <span>Accueil</span>
    <% end %>

      <div class="navbar-item">
        <div class="nav-bar-list">

          <% if user_signed_in? %>
             <% if current_user.admin %>
              <%= link_to admin_root_path do %>
                <span>Administration</span>
              <% end %>
            <% end %>
          <% end %>

          <%= link_to ceramiques_path, title: t(:shop_link) do %>
            <span><%= t(:boutique)%></span>
          <% end %>
          <%= link_to morta_path, title: (:morta_link) do %>
            <span>Le Morta</span>
          <% end %>

          <div class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              Infos
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:visit_workshop), new_lesson_path, title: t(:visit_workshop_link) %></li>
              <li><%= link_to t(:briere), la_briere_path, title: t(:briere_link) %></li>
              <li><%= link_to t(:workshop), atelier_path, title: t(:workshop_link) %></li>
              <li><%= link_to t(:where), agenda_path, title: t(:where_link)%></li>
              <li><%= link_to t(:press), presse_path, title: t(:press_link) %></li>
              <li><%= link_to t(:partners), sites_partenaires_path, title: t(:partners_link) %></li>
               <li><%= link_to t(:pros), professionnels_path, title: t(:pros_link) %></li>
              <li><%= link_to t(:contact), contact_path, title: %></li>
            </ul>
          </div>
          <%= link_to temoignages_path, title: t(:testimonials_link) do %>
            <span><%= t(:testimonials)%></span>
          <% end %>
          <%= link_to sur_mesure_path, title: t(:sur_mesure_link) do %>
            <span><%= t(:sur_mesure)%></span>
          <% end %>



          <% if session[:order].present? %>
            <% if Order.where(id: session[:order]).present? %>
              <% if Order.where(id: session[:order]).first.state != "lost" %>
                <%= link_to order_path(Order.find(session[:order])) do %>
                  <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        </div>



        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <% if params[:controller] == "ceramiques" %>
    <style>
      .main-nav {
        height: 60px !important;
      }
    </style>
      <div class="nav-categories">
        <%= link_to t(:table), ceramiques_path(univers: "table"), title: t(:table_link) %>
        <hr>
        <%= link_to t(:decoration), ceramiques_path(univers: "decoration"), title: t(:decoration_link) %>
        <hr>
        <%= link_to t(:shaving), ceramiques_path(univers: "soin"), title: t(:shaving_link) %>
      </div>
    <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile  hidden-sm hidden-md hidden-lg">
  <div class="main-nav-mobile">
   <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand-mobile", title: t(:navbar_home_link) do %>
      <%= render 'shared/logo_pic' %>
      <%= @logositepictag %>
    <% end %>

    <div class="navbar-item">
      <div class="list-mobile">
        <%= link_to ceramiques_path, title: "Liste des objets d'art en Morta en vente sur le site" do %>
            <span>Shop</span>
          <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            Infos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(:visit_workshop), new_lesson_path, title: t(:visit_workshop_link) %></li>
            <li><%= link_to t(:briere), la_briere_path, title: t(:briere_link) %></li>
            <li><%= link_to t(:workshop), atelier_path, title: t(:workshop_link) %></li>
            <li><%= link_to t(:sur_mesure), la_briere_path, title: t(:sur_mesure_link) %></li>
            <li><%= link_to t(:where), agenda_path, title: t(:where_link)%></li>
            <li><%= link_to t(:press), presse_path, title: t(:press_link) %></li>
            <li><%= link_to t(:partners), sites_partenaires_path, title: t(:partners_link) %></li>
            <li><%= link_to t(:pros), professionnels_path, title: t(:pros_link) %></li>
            <li><%= link_to t(:contact), contact_path, title: %></li>
          </ul>
        </div>

        <%= link_to morta_path, title: (:morta_link) do %>
          <span>Le Morta</span>
        <% end %>

        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-langages">
            <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                  <%= image_tag "EN.svg", class: "flag"%>
                <% end %>
            </li>
            <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                  <%= image_tag "FR.svg", class: "flag"%>
                <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <% if params[:controller] == "ceramiques" %>
    <style>
      .main-nav-mobile {
        height: 60px !important;
      }
    </style>
    <div class="nav-categories-mobile">
      <%= link_to t(:table), ceramiques_path(univers: "table"), title: t(:table_link) %>
      <hr>
      <%= link_to t(:decoration), ceramiques_path(univers: "decoration"), title: t(:decoration_link) %>
      <hr>
      <%= link_to t(:shaving), ceramiques_path(univers: "soin"), title: t(:shaving_link) %>
    </div>
  <% end %>
</div>
