<!-- Right Navigation LAPTOP -->
<% opacity_addition = "" %>
<% nav_bar_mobility = "nav-mobile" %>
<% if  params[:controller] == "lessons" %>
  <% opacity_addition = "opacity-on-laptop" %>
  <% nav_bar_mobility = "nav-fixe" %>
<% end %>
<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop-lighttheme hidden-xs hidden-sm <%= opacity_addition %> nav-mobile">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: "Retour à l'accueil de notre offre de boutique ligne" do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item">
      <div class="nav-bar-list">
        <%= link_to root_path do %>
          <span>Accueil</span>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span>Boutique</span>
        <% end %>
        <%= link_to info_path do %>
          <span>Infos</span>
        <% end %>
        <%= link_to articles_path do %>
          <span>Blog</span>
        <% end %>
        <a href="#" id="lighttheme-filter-search"><%= image_tag "search.svg", class: "searchimg"%></a>
        <%= link_to new_lesson_path do %>
          <span>Réserver un stage</span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "cart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="navbar-item">
      <div class="nav-bar-list">
        <%= link_to root_path do %>
          <span>Accueil</span>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span>Boutique</span>
        <% end %>
        <%= link_to info_path do %>
          <span>Infos</span>
        <% end %>
        <%= link_to articles_path do %>
          <span>Blog</span>
        <% end %>
        <a href="#" id="lighttheme-filter-search"><%= image_tag "search.svg", class: "searchimg"%></a>
        <%= link_to new_lesson_path do %>
          <span>Réserver un stage</span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "cart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile-lighttheme hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile" do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>

  <div class="navbar-item">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
        <span>Shop</span>
      <% end %>
      <%= link_to info_path do %>
        <%= image_tag "info.svg", class: "infoimg"%>
      <% end %>
      <%= link_to articles_path do %>
        <%= image_tag "blog.svg", class: "blogimg"%>
      <% end %>
      <%= link_to new_lesson_path do %>
        <span>Stage</span>
      <% end %>
      <a href="#" id="lighttheme-filter-search-mobile"><%= image_tag "search.svg", class: "searchimg"%></a>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><%= image_tag "cart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
