<div class="shipping-cost">
  <h5 class="port">Frais de port</h5>
  <%= simple_form_for (@order.user || User.new) do |f| %>
    <% if @order.user %>
      <%= f.input :country, label: false, selected: @order.user.country %>
    <% else %>
      <%= f.input :country, label: false, selected: "FR" %>
    <% end %>
  <% end %>
  <h5 class="port port-cost"> : <%= humanized_money(@port) %> <%= currency_symbol %></h5>
</div>
