<h2><%= t(:account_update)%></h2>
<h2><%= current_user.first_name %> <%= current_user.last_name %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :adress, required: true, autofocus: true %>
    <%= f.input :zip_code, required: true, autofocus: true, :input_html => { :id => "postal_code" } %>
    <%= f.input :country, required: true, :input_html => { :id => "country" } %>
    <%= f.input :city, required: true, autofocus: true, :input_html => { :id => "locality" } %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Nous attendons la confirmation pour: <%= resource.unconfirmed_email %></p>
    <% end %>
    <% unless  current_user.provider %>
      <%= f.input :password, autocomplete: "off", hint: "Laissez vide si vous ne le changer pas", required: false %>
      <%= f.input :password_confirmation, hint: "Laissez vide si vous ne le changer pas", required: false %>
      <%= f.input :current_password, hint: "Votre mot de passe actuel pour confirmer tous vos changements", required: true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:update), class: "btn btn-primary" %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Déçu? <%= link_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
 -->
