<h2>Mise à jour du compte : </h2>
<h2><%= current_user.first_name %> <%= current_user.last_name %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, :label => 'Prénom', required: true, autofocus: true %>
    <%= f.input :last_name, :label => 'Nom', required: true, autofocus: true %>
    <%= f.input :adress, :label => 'Adresse', required: true, autofocus: true %>
    <%= f.input :zip_code, :label => 'Code Postal', required: true, autofocus: true %>
    <%= f.input :city, :label => 'Ville', required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Nous attendons la confirmation pour: <%= resource.unconfirmed_email %></p>
    <% end %>
    <% unless  current_user.provider %>
      <%= f.input :password, :label => 'Mot de passe', autocomplete: "off", hint: "Laissez vide si vous ne le changer pas", required: false %>
      <%= f.input :password_confirmation, :label => 'Confirmation mot de passe', hint: "Laissez vide si vous ne le changer pas", required: false %>
      <%= f.input :current_password, :label => 'Mot de passe actuel', hint: "Votre mot de passe actuel pour confirmer tous vos changements", required: true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mise à jour", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Déçu? <%= link_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
 -->
