<% content_for(:title_tag) do %>
  Panier
<% end %>

<div class="page-top-lighttheme">
  <h1>Panier</h1>
</div>

<div class="cart-container">
  <div class="row">
    <!-- LAPTOP -->
    <div class="hidden-xs col-sm-12">
      <table>
        <tr>
          <th>ITEM</th>
          <th></th>
          <th>QUANTITE</th>
          <th>PRIX</th>
        </tr>
        <% @order.basketlines.each do |basketline| %>
        <tr>
          <td>
            <div class="basket-delete">
            <%= link_to  order_path(:id => @order.id, :basketline_id => basketline.id), :confirm => 'Are you sure?', :method => :delete, class: "delete-article" do %>
              <i class="fa fa-times"></i>
            <% end %>
            </div>
          </td>
          <td>
            <div class="cart-item">
              <%= cl_image_tag basketline.ceramique.photos[0].path, class: "basket-article-img" %>
              <h4><%= basketline.ceramique.name.capitalize %></h4>
            </div>
          </td>
          <td><div class="basket-delete"><h5><%= basketline.quantity %></h5></div></td>
          <% basketline.ceramique.offer ? discount =  basketline.ceramique.offer.discount : discount = 0 %>
          <td><div class="basket-delete"><h5><%= humanized_money(basketline.ceramique.price * (1 - discount) * basketline.quantity) %> <%= currency_symbol %></h5></div></td>
        </tr>
        <% end %>
      </table>

    <div class="total-lighttheme">
      <div class="empty"></div>
      <div class="hidden-sm">
        <h5>Frais de port: <%= humanized_money(@port) %> <%= currency_symbol %></h5>
        <h3>Montant total: <%= humanized_money(@amount) %> <%= currency_symbol %></h3>
      </div>
      <form action="/orders/<%= @order.id%>/payments/new" method="get">
        <input type="hidden" name="order_id" value="<%= @order.id%>">
        <button type="submit" class="pull-right btn btn-primary lighttheme">
          FINALISER MA COMMANDE
        </button>
      </form>
    </div>

  </div>

    <!-- MOBILE -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

      <% @order.basketlines.each do |basketline| %>
        <div class="basket-item mobile">
          <%= cl_image_tag basketline.ceramique.photos[0].path, class: "basket-article-img" %>
          <div class="order-detail">
            <h4><%= basketline.ceramique.name.capitalize %></h4>
            <div class="detail-text">
              <h5>Quantité: <%= basketline.quantity %></h5>
              <% basketline.ceramique.offer ? discount =  basketline.ceramique.offer.discount : discount = 0 %>
              <h5>Prix: <%= humanized_money(basketline.ceramique.price * (1 - discount) * basketline.quantity) %> <%= currency_symbol %></h5>
            </div>
              <%= link_to  order_path(:id => @order.id, :basketline_id => basketline.id), :confirm => 'Are you sure?', :method => :delete, class: "delete-article" do %>
                <i class="fa fa-trash"></i>
              <% end %>
          </div>
        </div>
      <% end %>

      <h5 class="h5mobile">Frais de port: <%= humanized_money(@port) %> <%= currency_symbol %></h5>
      <h3 class="h3mobile">Montant total: <%= humanized_money(@amount) %> <%= currency_symbol %></h3>
      <div class="total mobile">
        <form action="/orders/<%= @order.id%>/payments/new" method="get">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <button type="submit" class="pull-right btn btn-primary lighttheme">
            Valider ma commande
          </button>
        </form>
      </div>
      <div class="mobile-back">
        <%= link_to ceramiques_path do %>
          <span><i class="fa fa-arrow-right"></i> Liste des <%= ENV['MODEL'].capitalize%></span>
        <% end %>
      </div>

    </div>

  </div>
</div>


