<% content_for(:title_tag) do %>
  Panier
<% end %>

<div class="page-top">
  <h1>Panier</h1>
</div>

<div class="container">
  <div class="row">
    <!-- LAPTOP -->
    <div class="hidden-xs col-sm-12">
      <% @order.basketlines.each do |basketline| %>
        <div class="basket-item">
          <%= cl_image_tag basketline.ceramique.photos[0].path, class: "basket-article-img" %>
          <h4><%= basketline.ceramique.name.capitalize %></h4>
          <h5>Quantité: <%= basketline.quantity %></h5>
          <% basketline.ceramique.offer ? discount =  basketline.ceramique.offer.discount : discount = 0 %>
          <h5>Prix: <%= humanized_money(basketline.ceramique.price * (1 - discount) * basketline.quantity) %> <%= currency_symbol %></h5>
          <%= link_to  order_path(:id => @order.id, :basketline_id => basketline.id), :confirm => 'Are you sure?', :method => :delete, class: "delete-article" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      <% end %>

      <div class="total">
        <div class="empty"></div>
        <div class="cost-details">
          <%= render 'shared/shipping_cost_bloc' %>
          <h3 class="hidden-sm total_amount">Montant total: <%= humanized_money(@amount + @port) %> <%= currency_symbol %></h3>
          <h4 class="hidden-md hidden-lg total_amount">Montant total: <%= humanized_money(@amount + @port) %> <%= currency_symbol %></h4>
        </div>
        <form action="/orders/<%= @order.id%>/payments/new" method="get" class="payment-form">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <div class="input-label-take-away">
            <input id="take_away-checkbox" type="checkbox" name="take_away">
            <label for="take_away-checkbox">Récupérer votre commande en magasin</label>
          </div>
          <button type="submit" class="pull-right btn btn-primary">
            Finaliser ma commande
          </button>
        </form>
      </div>
    </div>

    <!-- MOBILE -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

      <% @order.basketlines.each do |basketline| %>
        <div class="basket-item mobile">
          <%= cl_image_tag basketline.ceramique.photos[0].path, class: "basket-article-img" %>
          <div class="order-detail">
            <h4><%= basketline.ceramique.name.capitalize %></h4>
            <div class="detail-text">
              <h5>Quantité: <%= basketline.quantity %></h5>
              <% basketline.ceramique.offer ? discount =  basketline.ceramique.offer.discount : discount = 0 %>
              <h5>Prix: <%= humanized_money(basketline.ceramique.price * (1 - discount) * basketline.quantity) %> <%= currency_symbol %></h5>
            </div>
              <%= link_to  order_path(:id => @order.id, :basketline_id => basketline.id), :confirm => 'Are you sure?', :method => :delete, class: "delete-article" do %>
                <i class="fa fa-trash"></i>
              <% end %>
          </div>
        </div>
      <% end %>

      <div class="cost-details-mobile">
        <h5 class="h5mobile port">Frais de port: <%= humanized_money(@port) %> <%= currency_symbol %></h5>
        <h3 class="h3mobile total_amount">Montant total: <%= humanized_money(@amount + @port) %> <%= currency_symbol %></h3>
      </div>
      <div class="total mobile">
        <form action="/orders/<%= @order.id%>/payments/new" method="get" class="payment-form">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <div class="input-label-take-away">
            <input id="take_away-checkbox-mobile" type="checkbox" name="take_away">
            <label for="take_away-checkbox-mobile">Récupérer votre commande en magasin</label>
          </div>
          <button type="submit" class="pull-right btn btn-primary">
            Valider ma commande
          </button>
        </form>
      </div>

    </div>

  </div>
</div>

<%= render 'shared/shipping_costs_display' %>
