<% content_for(:title_tag) do %>
  <%= t(:basket)%>
<% end %>

<div class="page-top-darktheme">
  <h1><%= t(:basket)%></h1>
</div>

<div class="container">
  <div class="row">
    <!-- LAPTOP -->
    <div class="hidden-xs col-sm-12">
      <% @order.basketlines.each do |basketline| %>
        <div class="basket-item-darktheme">
          <%= cl_image_tag basketline.ceramique.photos[0].path, class: "basket-article-img" %>
          <% basketline.ceramique.name.size > 38 ? etc = " ..." : etc = "" %>
          <h4><%= basketline.ceramique.name[0..37].capitalize + etc %></h4>
          <h5><%=t(:quantity)%>: <%= basketline.quantity %></h5>
          <% basketline.ceramique.offer ? discount =  basketline.ceramique.offer.discount : discount = 0 %>
          <h5><%=t(:price)%>: <%= humanized_money(basketline.ceramique.price * (1 - discount) * basketline.quantity) %> <%= currency_symbol %></h5>
          <%= link_to  order_path(:id => @order.id, :basketline_id => basketline.id), :confirm => 'Are you sure?', :method => :delete, class: "delete-article" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      <% end %>

      <div class="total-darktheme">
        <div class="cost-details">
          <%= render 'shared/shipping_cost_bloc' %>
          <h3 class="hidden-sm total_amount"><%= t(:total_amount)%>: <%= humanized_money(@amount + @port) %> <%= currency_symbol %></h3>
          <h4 class="hidden-md hidden-lg total_amount"><%= t(:total_amount)%>: <%= humanized_money(@amount + @port) %> <%= currency_symbol %></h4>
        </div>
        <form action="/orders/<%= @order.id%>/payments/new" method="get" class="payment-form">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <% if  Promo.any? %>
            <div class="promo-with-percentage">
               <div class="promo-bloc">
                <label for="order_promo"><%=t(:promo)%></label>
                <input id="order_promo" type="text" name="order[promo]">
              </div>
              <div class="promo-detail"></div>
            </div>
          <% end %>
          <div class="input-label-take-away">
            <input id="take_away-checkbox" type="checkbox" name="take_away">
            <label for="take_away-checkbox"><%=t(:order_take_away)%></label>
          </div>
          <input type="hidden" name="locale" value="<%= I18n.locale%>">
          <button type="submit" class="pull-right btn btn-primary">
            <%= t(:proceed_to_payment)%>
          </button>
        </form>
      </div>
    </div>

    <!-- MOBILE -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

      <% @order.basketlines.each do |basketline| %>
        <div class="basket-item mobile-darktheme">
          <%= cl_image_tag basketline.ceramique.photos[0].path, class: "basket-article-img" %>
          <div class="order-detail">
            <% basketline.ceramique.name.size > 38 ? etc = " ..." : etc = "" %>
            <h4><%= basketline.ceramique.name[0..37].capitalize + etc %></h4>
            <div class="detail-text">
              <h5><%=t(:quantity)%>: <%= basketline.quantity %></h5>
              <% basketline.ceramique.offer ? discount =  basketline.ceramique.offer.discount : discount = 0 %>
              <h5><%=t(:price)%>: <%= humanized_money(basketline.ceramique.price * (1 - discount) * basketline.quantity) %> <%= currency_symbol %></h5>
              <%= link_to  order_path(:id => @order.id, :basketline_id => basketline.id), :confirm => 'Are you sure?', :method => :delete, class: "delete-article" do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>

      <div class="cost-details-mobile">
        <%= render 'shared/shipping_cost_bloc_mobile' %>
        <h3 class="h3mobile total_amount"><%= t(:total_amount)%>: <%= humanized_money(@amount + @port) %> <%= currency_symbol %></h3>
      </div>
      <div class="total mobile">
        <form action="/orders/<%= @order.id%>/payments/new" method="get" class="payment-form payment-form-mobile">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <% if Promo.any? %>
            <div class="promo-with-percentage">
               <div class="promo-bloc">
                <label for="order_promo_mobile"><%=t(:promo)%></label>
                <input id="order_promo_mobile" type="text" name="order[promo]">
              </div>
              <div class="promo-detail"></div>
            </div>
          <% end %>
          <div class="input-label-take-away">
            <input id="take_away-checkbox-mobile" type="checkbox" name="take_away">
            <label for="take_away-checkbox-mobile"><%=t(:order_take_away)%></label>
          </div>
          <input type="hidden" name="locale" value="<%= I18n.locale%>">
          <button type="submit" class="pull-right btn btn-primary">
            <%= t(:proceed_to_payment)%>
          </button>
        </form>
      </div>

    </div>

  </div>
</div>

<%= render 'shared/shipping_costs_display' %>
