<% content_for(:description) do %>
  <%= t(:atelier_description) %>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:atelier_title) %>
<% end %>
<% content_for(:meta_image) do %>
  <%= image_path ENV['ATELIER1'] %>
<% end %>

<%= render 'shared/atelier_pics' %>

<div class="orange-div"></div>
<div class="orange-div-left"></div>
<div class="orange-div-right"></div>
<div class="orange-div-bottom"></div>

<div class="container">
  <div class="row">

  <!-- LAPTOP -->
    <div class="hidden-xs hidden-sm col-sm-12">
      <div class="wrapper-1">
        <%= photo_update('atelier1photo', 35, '', '', 15, '.avatarpic', "Mise à jour photo atelier 1")%>
        <div class="photo-atelier-1 photo-atelier">
          <style>
            .photo-atelier-1 {
              background-image: url(<%= @atelier1_path %>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
              margin-right: 10px
            }
          </style>
        </div>
        <div class="live-text">
          <%= render 'shared/article_display_quill', article_name: "info", id: 0, display_only: false, additional_class: "" %>
        </div>
      </div>

      <div class="wrapper-2">
        <div class="live-text">
          <%= render 'shared/article_display_quill', article_name: "info-bottom", id: 1, display_only: false, additional_class: "" %>
        </div>
        <%= photo_update('atelier2photo', 15, 15, '', '', '.citypic', "Mise à jour photo atelier 2")%>
        <div class="photo-atelier-2 photo-atelier">
          <style>
            .photo-atelier-2 {
              background-image: url(<%= @atelier2_path %>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
              margin-left: 10px
            }
          </style>
        </div>
      </div>
    </div>

  <!-- MOBILE -->
   <div class="col-xs-12 hidden-md hidden-lg mobile-info">
      <div class="wrapper-mobile">
        <div class="img-avatar-mobile"><%= @atelier1 %></div>
        <%= render 'shared/article_display_quill', article_name: "info", id: 2, display_only: false, additional_class: "" %>
      </div>

      <div class="wrapper-mobile">
        <div class="img-avatar-mobile"> <%= @atelier2 %></div>
        <%= render 'shared/article_display_quill', article_name: "info-bottom", id: 3, display_only: false, additional_class: "" %>
      </div>

    </div>

  </div>
</div>
