<% content_for(:description) do %>
Conditions générales de vente
<% end %>
<% content_for(:title_tag) do %>
  Conditions générales de vente
<% end %>

<div class="wallpaper">
  <style>
  .wallpaper {
      width: 100%;
      position: fixed;
    }
  </style>
  <% 3.times do %>
    <div class="row-1">
      <style>
        .row-1 {
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
        .wallpaper-img {
          width: 30px;
        }
      </style>
      <%= image_tag "hat.svg", class: "wallpaper-img"%>
      <%= image_tag "hat2.svg", class: "wallpaper-img"%>
      <%= image_tag "hat3.svg", class: "wallpaper-img"%>
      <%= image_tag "hat4.svg", class: "wallpaper-img"%>
      <%= image_tag "hat5.svg", class: "wallpaper-img"%>
      <%= image_tag "hat6.svg", class: "wallpaper-img"%>
      <%= image_tag "hat7.svg", class: "wallpaper-img"%>
    </div>
  <% end %>
</div>

 <div class="container">

   <div class="row CGV">
    <div class="col-xs-12 CGV">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("cgv", "vertical", "markdown1", "live-text1", "input1") %>
        <% @markdown = @markdown1 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("cgv", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>



