<% content_for(:description) do %>
  Envoyez un message à Philippe Nerriere depuis le site Ty Morta.
<% end %>
<% content_for(:title_tag) do %>
  Contactez Philippe Nerriere, l'artisan du Morta
<% end %>

<%= render 'shared/info_pics' %>

 <div class="contact-coord">
  <div class="col-md-12 hidden-xs hidden-sm coord">
    <% if user_signed_in? && current_user.admin %>
      <% article_typing("contact", "vertical", "markdown1", "live-text4", "input4") %>
      <% @markdown = @markdown1 %>
      <div class="live-text">
        <%= render 'shared/articletyping' %>
      </div>
    <% else %>
      <div class="plain-text">
        <% article_display("contact", "vertical") %>
        <%= @markdown.html_safe %>
        <div class="social-buttons-contact">
          <a class="twitter-share-button" href="#"><i class="fab fa-twitter-square"></i></a>
          <a id="facebook-contact" href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg coord">
    <div class="live-text">
      <%= @markdown.html_safe %>
    </div>
    <div class="social-buttons-contact">
      <a class="twitter-share-button" href="#"><i class="fab fa-twitter-square"></i></a>
      <a id="facebook-contact" href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="hidden-xs col-sm-12 contact-form">
    <%= render 'shared/subscribe_default' %>
  </div>
</div>

<!-- MOBILE -->
<div class="col-xs-12 hidden-sm hidden-md hidden-lg contact-form">
  <%= render 'shared/subscribe_default' %>
</div>

<!-- LAPTOP -->
<div class="hidden-xs photos-and-maps">
  <div class="atelier">
    <%= photo_update('avatarphoto', '', '', '', 30, '.avatarpic', "Mise à jour photo perso")%>
    <%= @avatarpictag %>
  </div>
  <div class="localisation-contact">
    <div class="city-img">
      <%= photo_update('cityphoto', -3, '', '', 15, '.citypic', "Mise à jour photo ville")%>
      <style>
        .city-img {
          background-image: url(<%= cl_image_path @citypicpath %>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
          width: 100%;
          height: 50%;
        }
      </style>
    <div class="black-bar"></div>
    </div>
    <div class="map-container"><div id="map"></div></div>
  </div>
</div>

<!-- MOBILE -->
<div class="hidden-sm hidden-md hidden-lg photos-and-maps-mobile">
  <%= image_tag "avatar.jpg", alt: "Atelier d'Hélène Raynal, céramiste à Saint Quentin La Poterie"%>
  <div id="map-mobile"></div>
  <%= image_tag "city.jpg", alt: "Saint Quentin La Poterie. Village de céramistes."%>
</div>

<% content_for(:after_js) do %>
  <script>
   $(document).ready(function() {
      var handler1 = Gmaps.build('Google');
      handler1.buildMap({internal: {id: 'map'}}, function(){
        markers1 = handler1.addMarkers([
          {
            lat: <%= ENV['LAT'].to_f %>,
            lng: <%= ENV['LNG'].to_f %>,
            infowindow: "<%= "Les #{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>"
          }
        ]);
        handler1.bounds.extendWith(markers1);
        handler1.getMap().setCenter({lat: <%= ENV['LAT'].to_f %>, lng: <%= ENV['LNG'].to_f %>});
        handler1.getMap().setZoom(6);
      });

      var handler = Gmaps.build('Google');
      handler.buildMap({internal: {id: 'map-mobile'}}, function(){
        marker = handler.addMarkers([
          {
            lat: <%= ENV['LAT'].to_f %>,
            lng: <%= ENV['LNG'].to_f %>
          }
        ]);
        handler.bounds.extendWith(marker);
        handler.getMap().setCenter({lat: <%= ENV['LAT'].to_f %>, lng: <%= ENV['LNG'].to_f %>});
        handler.getMap().setZoom(6);
      });
    });
   </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Objets d'art en Morta par Philippe Nerriere",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "<%=request.original_url%>",
    "image": "<%=request.original_url%><%= image_path ENV['HOMEPIC3']%>",
    "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ')%>",
    "priceRange":"20€ à 800€"
  }
  </script>
 <% end %>
