<% content_for(:description) do %>
Vendez vos produits en ligne ! Site de e-commerce configurable. Créez votre compte et visualisez votre futur site de vente en ligne de vos produits.
<% end %>

<div class="jumbotron">
  <style>
  .jumbotron .banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/assets/<%= ENV['HOMEPIC']%>");
  }
  .jumbotron .banner-xs {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url("/assets/<%= ENV['HOMEPICMOBILE']%>");
  }
  </style>

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner">
      <div class="banner-content">
        <h1><%= ENV['MODEL'].capitalize%></h1>
        <p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
        <%= link_to "Voir les #{ENV['MODEL']}", ceramiques_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs">
      <div class="banner-content-xs">
        <h1><%= ENV['MODEL'].capitalize%></h1>
        <p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
        <%= link_to "Voir les #{ENV['MODEL']}", ceramiques_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "https://<%= ENV['APPNAME']%>.herokuapp.com/",
    "image":"https://<%= ENV['APPNAME']%>.herokuapp.com/assets/<%= ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS']%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
