<% content_for(:description) do %>
  <%=t(:home_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%=t(:home_title)%>
<% end %>

<%= render 'shared/home_pics' %>
<%= render 'shared/home_right_pics' %>

  <div class="homeimagescontainer hidden-xs">
    <%= photo_update('productphoto', 350, '', '', 30, '.homepic', "Mise à jour photo accueil gauche")%>
    <%= photo_update('logophoto', 130, '', '', 30, '.logopic', "Mise à jour logo")%>
    <%= photo_update('homerightphotos', 130, '', '', 785, '.homerightphotos', "Mise à jour photos accueil droite")%>
    <div class="imagehomeleft col-sm-8">
      <style>
        .imagehomeleft {
          background-image: url(<%= @homepicpath %>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
    <div class="imageshomeright col-sm-4">
      <%= image_tag @homerightphoto1 %>
      <%= image_tag @homerightphoto2 %>
    </div>
  </div>
  <div class="homeimagescontainer-mobile">
    <div class="imagehomeleft-mobile hidden-sm hidden-md hidden-lg">
      <%= image_tag @homepicpath %>
      <%= image_tag @homerightphoto1 %>
      <%= image_tag @homerightphoto2 %>
    </div>
  </div>

  <div class="hometext hidden-xs hidden-sm">
    <% if user_signed_in? && current_user.admin %>
      <% article_typing("accueil_lighttheme", "vertical", "markdown1", "live-text4", "input4") %>
      <% @markdown = @markdown1 %>
      <div class="live-text ">
        <%= render 'shared/articletyping' %>
      </div>
    <% else %>
      <div class="plain-text">
        <% article_display("accueil_lighttheme", "vertical") %>
        <%= @markdown.html_safe %>
      </div>
    <% end %>
  </div>

  <div class="hometext-mobile hidden-md hidden-lg">
    <div class="plain-text">
      <% article_display("accueil_lighttheme", "vertical") %>
      <%= @markdown.html_safe %>
    </div>
  </div>

  <%= render 'shared/subscribe' %>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "image": ["<%=request.original_url%><%= image_path ENV['HOMEPIC']%>"],
    "@id": "<%=request.original_url%>",
    "name": "<%=t(:les_produits_de_machin, product:"#{ENV['MODEL']}", name: "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}")%>",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "12 rue de la paix",
      "addressLocality": "Paris",
      "addressRegion": "IDF",
      "postalCode": "75000",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": <%= ENV['LAT'].to_f %>,
      "longitude": <%= ENV['LAT'].to_f %>
    },
    "url": "<%=request.original_url%>",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "10:00",
        "closes": "17:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Saturday","Sunday"],
        "opens": "closed",
        "closes": "closed"
      }
    ],
   "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
