<% content_for(:description) do %>
  Vendez vos produits en ligne ! Site de e-commerce configurable. Créez votre compte et visualisez votre futur site de vente en ligne de vos produits.
<% end %>
<% content_for(:title_tag) do %>
  Vente de <%=ENV['MODEL']%> - <%=ENV['FIRSTNAME']%> <%=ENV['LASTNAME'] %>
<% end %>

<%= render 'shared/home_pics' %>
<%= render 'shared/home_right_pics' %>

<div class="jumbotron-darktheme">

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner-darktheme">
      <%= image_tag "home-base.jpg", alt: "Tasses en céramique avec calligraphie"%>
      <div class="photos3and4">
        <div class="photo3"><%= image_tag "home-base-mobile.jpg", alt: "Tasse en céramique avec décor peint à l'or - vue 1"%></div>
        <div class="photo4"><%= image_tag "home-base-mobile.jpg", alt: "Tasse en céramique avec décor peint à l'or - vue 2"%></div>
      </div>
      <%= image_tag "home-base.jpg", alt: "Calligraphie sur boite en céramique"%>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs-darktheme">
      <%= image_tag "home-base.jpg", alt: "Tasses en céramique avec calligraphie"%>
      <div class="photos3and4">
        <div class="photo3"><%= image_tag "home-base-mobile.jpg", alt: "Tasse en céramique avec décor peint à l'or - vue 1"%></div>
        <div class="photo4"><%= image_tag "home-base-mobile.jpg", alt: "Tasse en céramique avec décor peint à l'or - vue 2"%></div>
      </div>
      <%= image_tag "home-base.jpg", alt: "Calligraphie sur boite en céramique"%>
  </div>

</div>

<div class="home-text home-text-darktheme hidden-xs hidden-sm">
  <div class="text">
    <div class="text-left col-xs-4">
      <% if user_signed_in? && current_user.admin %>
          <% article_typing("accueil-gauche", "vertical", "markdown1", "live-text1", "input1") %>
          <% @markdown = @markdown1 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil-gauche", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
    <div class="text-right col-xs-8">
      <% if user_signed_in? && current_user.admin %>
          <% article_typing("accueil-droit", "vertical", "markdown2", "live-text2", "input2") %>
          <% @markdown = @markdown2 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil-droit", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>

    </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "<%=request.original_url%>",
    "image": "<%=request.original_url%><%= image_path ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ')%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
