<% content_for(:description) do %>
  <%=t(:home_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%=t(:home_title)%>
<% end %>

<%= render 'shared/home_pics' %>
<%= render 'shared/home_right_pics' %>

  <div class="homeimagescontainer hidden-xs">
    <%= photo_update('productphoto', 350, '', '', 30, '.homepic', "Mise à jour photo accueil gauche")%>
    <%= photo_update('logophoto', 130, '', '', 30, '.logopic', "Mise à jour logo")%>
    <%= photo_update('homerightphotos', 130, '', '', 785, '.homerightphotos', "Mise à jour photos accueil droite")%>
    <div class="imagehomeleft col-sm-8">
      <style>
        .imagehomeleft {
          background-image: url(<%= @homepicpath %>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
    <div class="imageshomeright col-sm-4">
      <%= image_tag @homerightphoto1 %>
      <%= image_tag @homerightphoto2 %>
    </div>
  </div>
  <div class="homeimagescontainer-mobile">
    <div class="imagehomeleft-mobile hidden-sm hidden-md hidden-lg">
      <%= image_tag @homepicpath %>
      <%= image_tag @homerightphoto1 %>
      <%= image_tag @homerightphoto2 %>
    </div>
  </div>

  <div class="hometext hidden-xs hidden-sm">
    <%= render 'shared/article_display_quill', article_name: "accueil_lighttheme", id: 0, display_only: false, additional_class: "" %>
  </div>

  <div class="hometext-mobile hidden-md hidden-lg">
    <div class="plain-text">
      <%= render 'shared/article_display_quill', article_name: "accueil_lighttheme", id: 1, display_only: true, additional_class: "" %>
    </div>
  </div>

  <%= render 'shared/subscribe' %>
  <%= render 'shared/schema_org_jsons/home_page_json' %>
