<% content_for(:description) do %>
  Philippe Nerriere façonne des objets d'art en Morta : rasoirs, blaireaux, lampes, couteaux ...
<% end %>
<% content_for(:title_tag) do %>
  Objets d'art en Morta, le bois noble de la Brière.
<% end %>

<%= render 'shared/home_pics' %>

<div class="jumbotron">

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner">
<!--       <div class="image-1">
        <style>
          .image-1 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div> -->
      <div class="image-2">
        <style>
          .image-2 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath2 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="image-3">
        <style>
          .image-3 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath3 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="banner-content">
        <div class="banner-text">
          <h1>Ty Morta</h1>
          <p>Offrez-vous 5000 ans d’émotions avec l'or noir de Brière, le MORTA</p>
        </div>
        <div class="home-links col-xs-12">
          <div class="link-i">
            <%= link_to "RASAGE & MAQUILLAGE", ceramiques_path(univers: "soin"),title: "Rasoirs, blaireaux, bols et pinceaux de maquillage en Morta" %>
            <div class="line line1"></div>
          </div>
          <div class="link-i">
            <%= link_to "DECORATION", ceramiques_path(univers: "decoration"), title: "Lampes, pendules, horloges et boîtes en Morta" %>
            <div class="line line2"></div>
          </div>
          <div class="link-i">
            <%= link_to "AUTOUR DE LA TABLE", ceramiques_path(univers: "table"), title: "Tire-bouchons et couteaux en Morta" %>
            <div class="line line3"></div>
          </div>
        </div>
      </div>
        <%= photo_update('productphoto', 30, '', '', 30, '.homepic', "Mise à jour photo arbre")%>
        <%= photo_update('product2photo', 30, '', '', 385, '.homepic2', "Mise à jour photo marais")%>
        <%= photo_update('product3photo', 30, '', '', 730, '.homepic3', "Mise à jour photo bois")%>
        <%= photo_update('logophoto', 260, '', '', 30, '.logopic', "Mise à jour logo")%>
        <%= image_tag "madeinfrance.png", class: "madeinfrance" %>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs">
      <div class="image-1">
        <style>
          .image-1 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="right-images">
      <div class="image-2">
        <style>
          .image-2 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath2 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="black-div"></div>
      <div class="image-3">
        <style>
          .image-3 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath3 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      </div>
      <div class="banner-content-xs">
        <h1>Ty Morta</h1>
        <p>Offrez-vous 5000 ans d’émotions avec l'or noir de Brière, le MORTA</p>
        <%= link_to "VOIR LES CREATIONS", ceramiques_path, class: "btn btn-primary btn-home" %>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="home-info-bloc row">
    <div class="home-info-text col-xs-12 col-sm-5 col-lg-4">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("accueil", "vertical", "markdown1", "live-text1", "input1") %>
        <% @markdown = @markdown1 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
    <div class="home-info-images col-xs-12 col-sm-7 col-lg-8">
      <div class="inner-photos">
        <%= cl_image_tag @homepicpath, class: "arbre", alt: "Chêne avant sa transformation en Morta"%>
        <%= cl_image_tag @homepicpath2, class: "marais", alt: "Marais de Brière"%>
        <%= cl_image_tag @homepicpath3, class: "bois", alt: "Morta en cours de fossilisation"%>
      </div>
    </div>
  </div>
</div>

<div class="home-products-bloc">
  <h2>DECOUVREZ TOUTE LA GAMME TY MORTA</h2>

    <div class="univers-cards row">
      <div class="soin col-xs-12 col-sm-4">
        <%= link_to ceramiques_path(univers: "soin"), title: "Rasoirs, blaireaux, bols et pinceaux de maquillage en Morta" do %>
          <div class="card-image card-image1">
            <style>
              .card-image1 {
                background-image: url(<%= image_path("rasoir.jpg") %>);
                background-size: cover;
                background-position-y: center;
                background-position-x: center;
              }
            </style>
            <p>Découvrez ces produits</p>
          </div>
        <% end %>
        <div class="home-cards-text home-text-left">
          <h3>RASAGE & MAQUILLAGE</h3>
          <p>La gamme soin se compose de rasoirs, blaireaux et bols. Tous ces accessoires sont confectionnés artisanalement dans l'atelier Ty Morta.</p>
        </div>
      </div>
      <div class="decoration col-xs-12 col-sm-4">
        <%= link_to ceramiques_path(univers: "decoration"), class: "decoration-link", title: "Lampes, pendules, horloges et boîtes en Morta" do %>
            <style>
              .decoration {
                background-image: url(<%= image_path("deco.jpg") %>);
                background-size: cover;
                background-position-y: center;
                background-position-x: center;
              }
            </style>
            <div class="home-text-center">
              <h3>DECORATION</h3>
              <p>Habillez vos pièces avec de superbes objets en Morta : horloges, pendules et lampes.</p>
            </div>
        <% end %>
      </div>
      <div class="vin col-xs-12 col-sm-4">
        <div class="home-cards-text home-text-right">
          <h3>AUTOUR DE LA TABLE</h3>
          <p>Retrouvez des objets pour accompagner vos degustations de vin : tire-bouchons et couteaux à huîtres.</p>
        </div>
        <%= link_to ceramiques_path(univers: "table"), title: "Tire-bouchons et couteaux en Morta" do %>
          <div class="card-image card-image3">
            <style>
              .card-image3 {
                background-image: url(<%= image_path("tirebouchon.jpg") %>);
                background-size: cover;
                background-position-y: center;
                background-position-x: center;
              }
            </style>
            <p>Découvrez ces produits</p>
          </div>
        <% end %>
      </div>
    </div>

</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Objets d'art en Morta par Philippe Nerriere",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "<%=request.original_url%>",
    "image": "<%=request.original_url%><%= image_path ENV['HOMEPIC3']%>",
    "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ')%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
