<% content_for(:description) do %>
  <%=t(:home_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%=t(:home_title)%>
<% end %>

<%= render 'shared/home_pics' %>

<div class="jumbotron">
  <style>
  .jumbotron .banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @homepicpath %>);
  }
  .jumbotron .banner-xs {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url(<%= @homepicpathmobile %>);
  }
  </style>

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner">
      <div class="banner-content">
        <h1><%= t(:home_h1)%></h1>
        <p><%= t(:home_teaser)%></p>
        <%= link_to t(:home_button), ceramiques_path, class: "btn btn-primary btn-lg btn-home" %>
      </div>
        <%= photo_update('productphoto', 30, '', '', 30, '.homepic', "Mise à jour photo d'accueil")%>
        <%= photo_update('productphotomobile', 30, '', '', 412, '.homepicmobile', "Mise à jour photo d'accueil pour mobiles")%>
        <%= photo_update('logophoto', 30, '', '', 785, '.logopic', "Mise à jour logo")%>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs">
      <div class="banner-content-xs">
        <h1><%= t(:home_h1)%></h1>
        <p><%= t(:home_teaser)%></p>
        <%= link_to t(:home_button), ceramiques_path, class: "btn btn-primary btn-home" %>
      </div>
    </div>
  </div>

</div>

<div class="home-text hidden-xs hidden-sm">
  <div class="text">
    <div class="text-left col-xs-4">
      <%= render 'shared/article_display_quill', article_name: "accueil-gauche", id: 0, display_only: false, additional_class: "dark" %>
    </div>
    <div class="text-right col-xs-8">
      <%= render 'shared/article_display_quill', article_name: "accueil-droit", id: 1, display_only: false, additional_class: "dark" %>
    </div>
</div>

<%= render 'shared/schema_org_jsons/home_page_json' %>
