<% content_for(:description) do %>
  Vendez vos produits en ligne ! Site de e-commerce configurable. Créez votre compte et visualisez votre futur site de vente en ligne de vos produits.
<% end %>
<% content_for(:title_tag) do %>
  Vente de <%=ENV['MODEL']%> - <%=ENV['FIRSTNAME']%> <%=ENV['LASTNAME'] %>
<% end %>

<%= render 'shared/home_pics' %>

<div class="jumbotron">
  <style>
  .jumbotron .banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= @homepicpath %>);
  }
  .jumbotron .banner-xs {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url(<%= @homepicpathmobile %>);
  }
  </style>

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner">
      <div class="banner-content">
        <div class="banner-text">
          <h1>Ty Barber</h1>
          <p>Accessoires de rasage en bois noble</p>
          <div class="logos">
            <%= image_tag "bordureblanche.png", class: "bordureg", alt: "XXXX"%>
            <%= image_tag "blaireau.png", class: "blaireau", alt: "XXXX"%>
            <%= image_tag "boite.png", class: "boite", alt: "XXXX"%>
            <%= image_tag "rasoir.png", class: "blaireau", alt: "XXXX"%>
            <%= image_tag "bordureblanche.png", class: "bordured", alt: "XXXX"%>
          </div>
          <%= link_to "Voir les #{ENV['MODEL']}", ceramiques_path, class: "btn btn-primary btn-lg btn-home" %>
        </div>
      </div>
        <%= photo_update('productphoto', 30, '', '', 30, '.homepic', "Mise à jour photo d'accueil")%>
        <%= photo_update('productphotomobile', 30, '', '', 412, '.homepicmobile', "Mise à jour photo d'accueil pour mobiles")%>
        <%= photo_update('logophoto', 30, '', '', 785, '.logopic', "Mise à jour logo")%>
        <%= image_tag "footer.png", class: "bannermask", alt: "XXXX"%>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs">
      <div class="banner-content-xs">
        <h1><%= ENV['MODEL'].capitalize%></h1>
        <p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
        <%= link_to "Voir les #{ENV['MODEL']}", ceramiques_path, class: "btn btn-primary btn-home" %>
      </div>
    </div>
  </div>

</div>

<div class="home-info-bloc hidden-xs">
  <div class="home-info-text">
    <h2>Une essence rare </h2>
    <p>Philippe Nerriere à partir de son atelier situé à Guérande produit l'ensemble des modèles de rasoirs et de blaireaux de rasage et travaille uniquement le Morta, cette richesse locale que l'on appelle aussi L'or noir de Brière.</p>
    <p>Après avoir extrait du marais ce bois en cours de fossilisation, de nombreuses étapes sont nécessaires afin d'obtenir un résultat digne de cette matière brut et naturel. Parmi celles-ci 2 sont capitales. Le séchage de ce bois et sa finition afin de lui redonner vie.</p>
  </div>
  <div class="home-info-images">
    <div class="inner-photos">
      <%= image_tag "arbreh.jpg", class: "arbre", alt: "XXXX"%>
      <%= image_tag "maraish.jpg", class: "marais", alt: "XXXX"%>
      <%= image_tag "bois.jpg", class: "bois", alt: "XXXX"%>
    </div>
  </div>
</div>

<!-- <div class="home-text hidden-xs hidden-sm">
  <div class="text">
    <div class="text-left col-xs-4">
      <% if user_signed_in? && current_user.admin %>
          <% article_typing("accueil-gauche", "vertical", "markdown1", "live-text1", "input1") %>
          <% @markdown = @markdown1 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil-gauche", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
    <div class="text-right col-xs-8">
      <% if user_signed_in? && current_user.admin %>
          <% article_typing("accueil-droit", "vertical", "markdown2", "live-text2", "input2") %>
          <% @markdown = @markdown2 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil-droit", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>

    </div>
</div>
</div> -->

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "<%=request.original_url%>",
    "image": "<%=request.original_url%><%= image_path ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ')%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
