<% content_for(:description) do %>
  <%=t(:home_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%=t(:home_title)%>
<% end %>

<%= render 'shared/home_pics' %>

<div class="jumbotron">

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner">
<!--       <div class="image-1">
        <style>
          .image-1 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div> -->
      <div class="image-2">
        <style>
          .image-2 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath2 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="image-3">
        <style>
          .image-3 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath3 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="banner-content">
        <div class="banner-text">
          <h1><%= t(:home_h1)%></h1>
          <h2><%= t(:home_sub_h1)%></h2>
          <p><%= t(:home_teaser)%></p>
        </div>
        <div class="home-links col-xs-12">
          <% @top_categories.each_with_index do |top_category, index| %>
            <div class="link-i">
              <%= link_to top_category.name, ceramiques_path(top_category: top_category.name), title: t(:home_button_link, top_category: top_category.name) %>
              <div class="line line<%=index + 1%>"></div>
            </div>
          <% end %>
        </div>
      </div>
        <%= photo_update('productphoto', 30, '', '', 30, '.homepic', "Mise à jour photo arbre")%>
        <%= photo_update('product2photo', 30, '', '', 385, '.homepic2', "Mise à jour photo marais")%>
        <%= photo_update('product3photo', 30, '', '', 730, '.homepic3', "Mise à jour photo bois")%>
        <%= photo_update('logophoto', 260, '', '', 30, '.logopic', "Mise à jour logo")%>
        <div class="madeinfrance">
          <%= render 'shared/logo_pic' %>
          <div class="letters">
            <%= @logositepictag %>
            <span class="char1">M</span>
            <span class="char2">A</span>
            <span class="char3">D</span>
            <span class="char4">E</span>
            <span class="char15"> </span>
            <span class="char5">I</span>
            <span class="char6">N</span>
            <span class="char16"> </span>
            <span class="char7">G</span>
            <span class="char8">U</span>
            <span class="char9">E</span>
            <span class="char10">R</span>
            <span class="char11">A</span>
            <span class="char12">N</span>
            <span class="char13">D</span>
            <span class="char14">E</span>
          </div>
        </div>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs">
      <div class="image-1">
        <style>
          .image-1 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="right-images">
      <div class="image-2">
        <style>
          .image-2 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath2 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      <div class="black-div"></div>
      <div class="image-3">
        <style>
          .image-3 {
            background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url(<%= @homepicpath3 %>);
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
          }
        </style>
      </div>
      </div>
      <div class="banner-content-xs">
        <h1><%= t(:home_h1)%></h1>
        <h2><%= t(:home_sub_h1)%></h2>
        <p><%= t(:home_teaser)%></p>
        <%= link_to t(:home_button_mobile), ceramiques_path, class: "btn btn-primary btn-home" %>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="home-info-bloc row">
    <div class="home-info-text col-xs-12 col-sm-4 col-lg-4">
      <%= render 'shared/article_display_quill', article_name: "accueil", id: 0, display_only: false, additional_class: "" %>
    </div>
    <div class="home-info-images col-xs-12 col-sm-8 col-lg-8">
      <div class="inner-photos">
        <%= cl_image_tag @homepicpath, class: "arbre", alt: "Chêne avant sa transformation en Morta"%>
        <%= cl_image_tag @homepicpath2, class: "marais", alt: "Marais de Brière"%>
        <%= cl_image_tag @homepicpath3, class: "bois", alt: "Morta en cours de fossilisation"%>
      </div>
    </div>
  </div>
</div>

<div class="home-products-bloc">
  <h2><%= t(:home_h2)%></h2>

    <div class="univers-cards row">
      <% @top_categories[0..2].each_with_index do |top_category, index| %>
        <% if  index == 0 || index == 2 %>
          <div class="soin col-xs-12 col-sm-4 <%= index == 0 ? "" : "second-block" %>">
            <%= link_to ceramiques_path(top_category: top_category.name), title: t(:home_button_link, top_category: top_category.name) do %>
              <div class="card-image card-image<%= index + 1 %>">
                <style>
                  .card-image<%= index + 1 %> {
                    background-image: url(<%= cl_image_path top_category.photo_1.path, quality: "auto" %>);
                    background-size: cover;
                    background-position-y: center;
                    background-position-x: center;
                  }
                </style>
                <p><%=t(:home_discover)%></p>
              </div>
            <% end %>
            <div class="home-cards-text home-text-<%= index == 0 ? "left" : "right" %>">
              <h3><%= top_category.name.upcase%></h3>
              <p><%= top_category.description %></p>
            </div>
          </div>
        <% else %>
          <div class="decoration col-xs-12 col-sm-4">
            <%= link_to ceramiques_path(top_category: top_category.name), class: "decoration-link", title: t(:home_button_link, top_category: top_category.name) do %>
                <style>
                  .decoration {
                    background-image: url(<%= cl_image_path top_category.photo_1.path, quality: "auto" %>);
                    background-size: cover;
                    background-position-y: center;
                    background-position-x: center;
                  }
                </style>
                <div class="home-text-center">
                  <h3><%= top_category.name.upcase%></h3>
                  <p><%= top_category.description %></p>
                </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'shared/schema_org_jsons/home_page_json' %>
