<% content_for(:description) do %>
  <%= t(:la_briere_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:la_briere_title)%>
<% end %>
<% content_for(:meta_image) do %>
  <%= image_path "marais3.jpg" %>
<% end %>

<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h1><%= t(:la_briere_block_1_title)%></h1>
          <hr>
          <p><%= t(:la_briere_block_1_text)%></p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc first-image-briere">
      <style>
        .first-image-briere {
          background-image: url(<%= image_path "marais4.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h2><%= t(:la_briere_block_1_title)%></h2>
          <hr>
          <p><%= t(:la_briere_block_2_text_1)%></p>
          <p><%= t(:la_briere_block_2_text_2)%></p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc second-image-briere">
      <style>
        .second-image-briere {
          background-image: url(<%= image_path "blaireau.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h2><%= t(:la_briere_block_3_title)%></h2>
          <hr>
          <p><%= t(:la_briere_block_3_text_1)%></p>
          <p><%= t(:la_briere_block_3_text_2)%></p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc third-image-briere">
      <style>
        .third-image-briere {
          background-image: url(<%= image_path "sel.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h2><%= t(:la_briere_block_4_title)%></h2>
          <hr>
          <p><%= t(:la_briere_block_4_text_1)%></p>
          <p><%= t(:la_briere_block_4_text_2)%></p>
          <p><%= t(:la_briere_block_4_text_3)%></p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc fourth-image-briere">
      <style>
        .fourth-image-briere {
          background-image: url(<%= image_path "chaume.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
