<div class="container">
  <div class="col-xs-12">
    <div class="row legal">
      <h1>Protection des données personnelles, en vertu de la norme simplfiée NS-048 applicable aux sites de vente en ligne</h1>

      <p>La finalité de la gestion des données personnelles par ce site est la suivante : effectuer les opérations relatives à la gestion des clients. La gestion des clients concerne : les livraisons, les factures, la comptabilité et la gestion des comptes clients.</p>

      <h2>Données personnelles concernées par ce site</h2>

      <h3>Données liées à l'identité : civilité, nom, prénom, adresse, email.</h3>

      <p>Ces données sont collectées à la création d'un compte, en vue du paiement de la commande par le client. Ces données sont utilisées pour l'expédition de la commande du client.</p>

      <p>Si le client interrompt le processus de paiement après avoir créé un compte, ses données sont conservées. Elles peuvent être utilisées par <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>, pour recontacter le client à propos du panier qu'il a abandonné. Si vous ne souhaitez pas être recontacté, vous devez avertir <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>, dès la création de votre compte, en utilisant les coordonnées présentes sur ce site.</p>

      <h3>Données bancaires : </h3>

      <p>Les données liées aux cartes bancaires sont stockées, sous forme cryptée par Stripe le prestataire en charge des paiements. Elles sont stockées pour garder la possibilité de rembourser tout ou partie du paiement au client en cas de litige. Ces données ne sont pas réutilisables de manière illégitime. En payant votre commande sur ce site, vous acceptez les conditions de fonctionnement de Stripe.</p>
      <p>Fonctionnemet de Stripe : <a href="https://stripe.com/docs/security/stripe#encryption">Cryptage</a>, <a href=" https://stripe.com/fr/privacy">Protection des données</a> et <a href="https://stripe.com/fr/legal#section_d">Conditions Générales</a>.</p>

      <h2>Conservation des données</h2>

      <p>Vos données sont effacées dès que le compte est supprimé.</p>

      <p>Les comptes n’étant plus utilisés depuis 3 ans par l’utilisateur, sont considérés comme des comptes inactifs. Ce délai court à compter de la date de la dernière commande. Au terme de ce délai, <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%> contacte le client pour le prévenir de la suppression imminente de son compte. Sans réaction du client dans un délai de 5 jours, les données relatives au compte inactif sont supprimées.</p>

      <h2>Collecte des données</h2>

      <p>Le traitement des données est assuré par <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>.</p>

      <p>Pour assurer les livraisons, nous avons besoin de ces données : civilité, nom, prénom, adresse. Votre email est nécessaire pour vous envoyer un récapitulatif de commande après le paiement. Toutes ces données sont donc obligatoires lors de la création d'un compte. Si vous ne souhaitez pas nous communiquer ces données, vous ne pourrez pas accéder au paiement et donc pas finaliser le processus de commande.</p>

      <p>Le destinataire des données est <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>.</p>

      <p>Pour corriger vos données, vous pouvez utiliser le formulaire situé à cette adresse :  <%= link_to "Mettre à jour vos données", edit_user_registration_path %> ou contacter <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>.</p>

      <p>Si vous souhaitez que vos données soient supprimées, vous devez avertir <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>, en utilisant les coordonnées présentes sur ce site.</p>

      <h2>Recueil du consentement</h2>

      <p>Vous consentissez à l'utilisation de vos données, telle que décrite dans les paragraphes ci-dessus, lorsque vous créez votre compte.</p>

      <p>Vous données ne sont pas commercialisées à des tiers. La seule utilisation commerciale faite est la relance pour un panier abandonné. Vous pouvez vous y opposer en avertissant <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>.</p>

      <p>Vous pouvez récupérer vos données stockées par le site en envoyant une demande à <%="#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>.</p>

      <h2>Sécurité des données</h2>

      <p>La sécurité des données est cruciale. Elle est donc assurée par des spécialistes de la sécurité. L'hébergement des données collectées par ce site est assuré par <a href="https://devcenter.heroku.com/articles/security-privacy-compliance">Heroku</a>. Le cryptage de votre mot de passe est assuré par <a href="http://blog.plataformatec.com.br/tag/security-fix/">Devise</a>. Les données bancaire sont cryptées par <a href="https://stripe.com/docs/security/stripe#encryption">Stripe</a>.</p>
    </div>
  </div>
</div>
