<% content_for(:description) do %>
 <%= t(:morta_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:morta_title)%>
<% end %>
<% content_for(:meta_image) do %>
  <%= image_path "fossilisation.jpg" %>
<% end %>

<%= render 'shared/atelier_pics' %>

<div class="orange-div"></div>
<div class="orange-div-left"></div>
<div class="orange-div-right"></div>
<div class="orange-div-bottom"></div>

<div class="container">

  <div class="row morta-page">
    <div class="morta-cards-row1">
      <div class="col-xs-12 col-sm-4 col-lg-3 morta-card">
        <div class="history-mark">
          <div class="history-text">
            <p><%= t(:morta_bullet_1)%></p>
          </div>
        </div>
        <div class="morta-card-image image-1">
          <style>
            .image-1 {
              background-image: url(<%= image_path "avant.jpg"%>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="morta-card-text text-history-mark">
          <h1><%= t(:morta_title_1)%></h1>
          <p><%=t(:morta_card_text_1)%></p>
        </div>
      </div>

      <div class="line-container hidden-xs">
        <div class="card-link-line">
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-3 morta-card">
        <div class="history-mark">
          <div class="history-text">
            <p><%= t(:morta_bullet_2)%></p>
          </div>
        </div>
        <div class="morta-card-image image-2">
          <style>
            .image-2 {
              background-image: url(<%= image_path "pendant.jpg"%>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="morta-card-text text-history-mark">
          <h2><%= t(:morta_title_2)%></h2>
          <p><%=t(:morta_card_text_2)%></p>
        </div>
      </div>

      <div class="line-container hidden-xs">
        <div class="card-link-line">
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-3 morta-card">
        <div class="history-mark">
          <div class="history-text">
            <p><%= t(:morta_bullet_3)%></p>
          </div>
        </div>
        <div class="morta-card-image image-3">
          <style>
            .image-3 {
              background-image: url(<%= image_path "maraish.jpg"%>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="morta-card-text text-history-mark">
          <h2><%= t(:morta_title_3)%></h2>
          <p><%=t(:morta_card_text_3)%></p>
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row middle-row hidden-xs">
    <div class="col-lg-3 empty-bloc"></div>
    <div class="line-container">
      <div class="card-link-line transparent-line">
      </div>
    </div>
    <div class="col-lg-3 empty-bloc"></div>
      <div class="line-container">
        <div class="card-link-line transparent-line">
      </div>
    </div>
    <div class="col-lg-3 vertical-line-bloc">
      <div class="vertical-card-link-line"></div>
    </div>
  </div>

  <div class="row last-row morta-page">
    <div class="morta-cards-row1">

      <div class="hidden-xs col-sm-8 col-lg-6 morta-card">
        <div class="morta-card-image image-5">
          <style>
            .image-5 {
              background-image: url(<%= image_path "extraction.jpg"%>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="morta-card-text">
          <h2><%= t(:morta_title_4)%></h2>
          <p><%=t(:morta_card_text_4)%></p>
        </div>
      </div>

      <div class="line-container hidden-xs">
        <div class="card-link-line last-line">
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-3 morta-card">
        <div class="morta-card-image image-4">
          <style>
            .image-4 {
              background-image: url(<%= image_path "fossilisation.jpg"%>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="morta-card-text">
          <h2><%= t(:morta_title_5)%></h2>
          <p><%=t(:morta_card_text_5)%></p>
        </div>
      </div>

      <div class="col-xs-12 hidden-sm hidden-md hidden-lg morta-card">
        <div class="morta-card-image image-5">
          <style>
            .image-5 {
              background-image: url(<%= image_path "extraction.jpg"%>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="morta-card-text">
          <h2><%= t(:morta_title_6)%></h2>
          <p><%=t(:morta_card_text_6)%></p>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>
