<% content_for(:description) do %>
 Découvrez les possibilités de personnalisations ou imaginez intégralement votre objet en Morta.
<% end %>
<% content_for(:title_tag) do %>
  Commandez un objet en Morta sur mesure
<% end %>
<% content_for(:meta_image) do %>
  <%= image_path "fossilisation.jpg" %>
<% end %>

<div class="orange-div"></div>
<div class="orange-div-left"></div>
<div class="orange-div-right"></div>
<div class="orange-div-bottom"></div>

<div class="container sur-mesure-container">
  <div class="row">
    <div class="col-xs-12">

      <div class="sur-mesure">
        <div class="background-image-sur-mesure">
          <style>
          .background-image-sur-mesure {
            background-image: url(<%= image_path "sur_mesure_2.jpg"%>);
            background-position-y: center;
            background-position-x: center;
            background-size: cover;
          }
        </style>
        </div>
        <div class="sur-mesure-details">
          <div class="top-text">
            <%= render 'shared/article_display_quill', article_name: "sur_mesure_1", id: 0, display_only: false, additional_class: "dark" %>
          </div>
          <div class="rasoir-elements">
            <%= render  'shared/images_box_inclined',
              image_1: "soin1.jpg",
              image_2: "soin2.jpg",
              title: "<h2>Les créations uniques en Morta</h2>",
              mobile: true,
              image1_left: "37px"
            %>
          </div>
          <%= render 'shared/article_display_quill', article_name: "sur_mesure_2", id: 1, display_only: false, additional_class: "" %>
          <div class="sur-mesure-coord">
            <div class="icone-bloc">
              <i class="fa fa-envelope-o"></i>
              <h6 class="info-text middle-text"><%=ENV['EMAIL']%></h6>
            </div>
            <div class="icone-bloc">
              <i class="fa fa-phone"></i>
              <h6 class="info-text"><%=ENV['TELEPHONE']%></h6>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
