<% content_for(:title_tag) do %>
  <%= t(:index_title)%>
<% end %>
<% if @front_offer %>
  <% content_for(:meta_image) do %>
    <%= cl_image_path @front_offer.ceramiques.first.photos[0].path %>
  <% end %>
  <% content_for(:description) do %>
    <% @front_offer.discount > 0 ? discount = t(:discount_percentage, amount: "#{(@front_offer.discount * 100).to_i}") : discount = "" %>
    <%= "#{@front_offer.title} - #{discount} - #{@front_offer.description}".squish %>
  <% end %>
<% else %>
  <% content_for(:description) do %>
    <%= t(:index_description)%>
  <% end %>
<% end %>


<div class="container">
  <div class="row">
<!-- INDEX H1 :  EITHER A DISCOUNT OFFER DIV, OR A SIMPLE H1 -->
  <% if @front_offer && params[:offer] == nil %>

    <div class="hidden-xs hidden-sm col-md-12 info-top-darktheme">
      <%= render 'shared/general_info_bubble_darktheme' %>
    </div>
    <div class="h1-index mobile hidden-md hidden-lg">
      <h1><%=t(:main_index_h1)%></h1>
      <hr>
    </div>
  <% elsif params[:offer].present? %>
    <div class="h1-index hidden-xs hidden-sm">
      <h1> <%= @front_offer.title %> <%=t(:offer_products)%></h1>
      <hr>
    </div>
  <% else %>
    <div class="h1-index hidden-xs hidden-sm">
      <h1><%=t(:main_index_h1)%></h1>
      <hr>
    </div>
    <div class="h1-index mobile hidden-md hidden-lg">
      <h1> <%= t(:unique_creation)%></h1>
      <hr>
    </div>
  <% end %>

<!-- LAPTOP -->
    <div class="hidden-xs hidden-sm hidden-md col-lg-3">
      <div id="ceramique-filters-content-darktheme">
        <%= render 'shared/ceramiques_filter', device: "", show_cross: false, theme: "dark" %>
      </div>
    </div>

    <% if  @ceramiques.present? %>
      <div class="col-xs-12 col-lg-9 ceramique-list">
        <% @ceramiques.each_with_index do |ceramique, index| %>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= link_to ceramique_path(ceramique), title: "#{ceramique.name}", class: "cardlink" do %>
              <% ceramique == @ceramiques.last ? additionnal_class = "last-ceramique" : additionnal_class = "" %>
              <div class="ceramiquecard-darktheme <%=additionnal_class%>">
                <div class="ceramiquecardimage ceramiquecardimage-<%=index%>">
                    <style>
                    .ceramiquecardimage-<%=index%> {
                      background-image: url(<%= cl_image_path ceramique.photos[0].path, quality: "auto" %>);
                      background-size: cover;
                      background-position-y: center;
                      background-position-x: center;
                    }
                  </style>
                </div>
                <% if ceramique.offer%>
                  <% if ceramique.offer.discount > 0 %>
                    <p class="discount-offer">-<%= (ceramique.offer.discount * 100).to_i %>%</p>
                    <div class="ribbon"></div>
                  <% end %>
                <% end %>
                <% if  ceramique.stock == 0 %>
                  <div class="ceramiques-card-circle soldout darktheme-circle"><p>Epuisé</p></div>
                <% end %>
                <div class="transparent-div"></div>
                <div class="ceramique-card-text">
                  <h2 class="card-mobile-h2 hidden-md hidden-lg"> <%= ceramique.name.capitalize%> </h2>
                  <h2 class="card-h2 hidden-xs hidden-sm"> <%= ceramique.name.capitalize%> </h2>
                  <div class="prices-box">
                    <% ceramique.offer ? discount =  ceramique.offer.discount : discount = 0 %>
                      <h2 class="prix-index hidden-xs hidden-sm"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                      <% if ceramique.offer %>
                        <% if ceramique.offer.discount > 0 %>
                          <h3 class="previous-price hidden-xs hidden-sm"><%= humanized_money(ceramique.price)%> <%= currency_symbol %></h3>
                        <% end %>
                      <% end %>
                    <% if ceramique.offer %>
                      <% if ceramique.offer.discount > 0 %>
                        <div class="allpricesmobile-w hidden-md hidden-lg">
                          <h2 class="prix-index-mobile"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                          <h3 class="previous-price-mobile"><%= humanized_money(ceramique.price)%> <%= currency_symbol %></h3>
                        </div>
                      <% else %>
                        <div class="allpricesmobile-w-zero hidden-md hidden-lg">
                          <h2 class="prix-index-mobile"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="allpricesmobile-wo hidden-md hidden-lg">
                        <h2 class="prix-index-mobile"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-xs-12 col-lg-9 no-ceramique-list">
        <div class="no-ceramique">
          <p><%=t(:no_product)%></p>
          <%= link_to t(:all_products), ceramiques_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

<!-- MOBILE -->

<div class="hidden-lg">
  <div id="ceramique-filters-content-mobile-darktheme">
      <%= render 'shared/ceramiques_filter', { device: "mobile", show_cross: true, theme: "dark" } %>
  </div>
</div>

<div id="mobile-filter-search-darktheme" class="hidden-lg">
  <i class="fa fa-search" aria-hidden="true"></i>
</div>

  </div>
</div>

<%= render 'shared/schema_org_jsons/ceramiques_index_json' %>
<% content_for(:after_js) do %>
  <script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
  data-pin-round="true"
  data-pin-tall="15px"
></script>
<%= render 'shared/facebookshare' %>
<%= render 'shared/algolia_search' %>
<% end %>
