<% content_for(:title_tag) do %>
  <%= t(:index_title)%>
<% end %>
<% if @front_offer %>
  <% content_for(:meta_image) do %>
    <%= cl_image_path @front_offer.ceramiques.first.photos[0].path %>
  <% end %>
  <% content_for(:description) do %>
    <% @front_offer.discount > 0 ? discount = t(:discount_percentage, amount: "#{(@front_offer.discount * 100).to_i}") : discount = "" %>
    <%= "#{@front_offer.title} #{discount} - #{@front_offer.description}".squish %>
  <% end %>
<% else %>
  <% content_for(:description) do %>
    <%= t(:index_description)%>
  <% end %>
<% end %>


<div class="container">
  <div class="row">
<!-- INDEX H1 :  EITHER A DISCOUNT OFFER DIV, OR A SIMPLE H1 -->
  <% if @front_offer && params[:offer] == nil %>

    <div class="hidden-xs hidden-sm col-md-12 info-top">
      <%= render 'shared/general_info_bubble' %>
    </div>
    <div class="h1-index mobile hidden-md hidden-lg">
      <h1><%=t(:main_index_h1)%></h1>
      <hr>
    </div>
  <% elsif params[:offer].present? %>
    <div class="h1-index hidden-xs hidden-sm">
      <h1> <%= @front_offer.title %> <%=t(:offer_products)%></h1>
      <hr>
    </div>
  <% else %>
    <div class="h1-index hidden-xs hidden-sm">
      <h1><%=t(:main_index_h1)%></h1>
      <hr>
    </div>
    <div class="h1-index mobile hidden-md hidden-lg">
      <h1> <%= t(:unique_creation)%></h1>
      <hr>
    </div>
  <% end %>

<!-- LAPTOP -->
    <div class="hidden-xs hidden-sm col-lg-3">
      <div id="ceramique-filters-content">
        <h2><%= t(:filter) %></h2>
        <form action="/<%=ENV['MODEL']%>" method='get'>
          <input type="search" id="aa-search-input" class="aa-input-search" placeholder="<%=t(:search_place_holder)%>" name="search" autocomplete="off" />
          <a href="https://www.algolia.com" class="lienalgolia" target="blank"><%= image_tag "algolia.png", class: "algolialogo", alt: "Lien vers Algolia"%></a>
          <div class="category-filter filter">
            <h3><%= t 'activerecord.models.category', count: @uniq_categories.size %></h3>
            <div class="filter-category">
              <ul>
                <% @uniq_categories.each do |category| %>
                  <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category %>"><%= category.capitalize %></label></li>
                <% end %>
              </ul>
              <h3><%=t(:max_price)%></h3>
              <input type="number" name="prix_max" min="0" class="prix">
            </div>
            <% if  params[:categories].present? || params[:prix_max].present? || params[:offer].present? || params[:search].present?%>
              <label class="label-search all"><input type="checkbox" name="all[]" value="all"><%=t(:display_all)%></label>
            <% end %>
            <input type="hidden" name="locale" value="<%= I18n.locale%>">
            <input type="submit" id="recherche" class="btn btn-primary recherche" value="<%=t(:display)%>">
          </div>
        </form>
      </div>
    </div>

    <% if @ceramiques.present? %>
      <div class="col-xs-12 col-lg-9 ceramique-list">
        <% @ceramiques.each_with_index do |ceramique, index| %>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= render 'shared/ceramiques_cards_default', ceramique: ceramique, index: index %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-xs-12 col-lg-9 no-ceramique-list">
        <div class="no-ceramique">
          <p><%=t(:no_product)%></p>
          <%= link_to t(:all_products), ceramiques_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

<!-- MOBILE -->

<div class="hidden-md hidden-lg">
  <div id="ceramique-filters-content-mobile">
    <h2>Filtrer<i id="close-search" class="fa fa-times-circle cross-1" aria-hidden="true"></i></h2>
    <form action="/<%=ENV['MODEL']%>" method='get'>
      <div class="form-body">
      <input type="search" id="aa-search-input2" class="aa-input-search aa-input-mobile" placeholder="Que recherchez-vous ?" name="search" autocomplete="off" />
        <h3><%= t 'activerecord.models.category', count: @uniq_categories.size %></h3>
        <div class="filter-category">
          <ul>
            <% @uniq_categories.each do |category| %>
              <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category %>"><%= category %></label></li>
            <% end %>
          </ul>
          <h3><%=t(:max_price)%></h3>
          <input type="number" name="prix_max" min="0" class="prix">
        </div>
        <% if  params[:categories].present? || params[:prix_max].present? || params[:offer].present? || params[:search].present?%>
          <label class="label-search all"><input type="checkbox" name="all[]" value="all"><%=t(:display_all)%></label>
        <% end %>
      </div>
      <div class="mobile-submit">
        <input type="hidden" name="locale" value="<%= I18n.locale%>">
        <input type="submit" id="recherche" class="btn btn-primary recherche" value="<%=t(:display_mobile)%>">
      </div>
    </form>
  </div>
</div>

<div id="mobile-filter-search" class="hidden-md hidden-lg">
  <i class="fa fa-search" aria-hidden="true"></i>
</div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "<%=t(:les_produits_de_machin, product:"#{ENV['MODEL']}", name: "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}")%>",
    "image": <%= raw @ceramiques.map {|ceramique| cl_image_path ceramique.photos[0].path}.to_json %>,
    "brand": {
      "@type": "Thing",
      "name": "<%= t(:name, name:"#{ENV['LASTNAME'].capitalize}")%>"
    },
    "offers": {
      "@type": "AggregateOffer",
      "lowPrice": "<%= humanized_money((@ceramiques.minimum(:price_cents) || 0) / 100) %>",
      "highPrice": "<%= humanized_money((@ceramiques.maximum(:price_cents) || 0) / 100) %>",
      "priceCurrency": "EUR"
    }
  }
  </script>
  <script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
  data-pin-round="true"
  data-pin-tall="15px"
></script>
<%= render 'shared/facebookshare' %>
<%= render 'shared/algolia_search' %>
<% end %>
