<% content_for(:description) do %>
Site de e-commerce configurable. Créez votre compte et visualisez votre futur site de vente en ligne de vos produits.
<% end %>
<% content_for(:title_tag) do %>
  Liste des produits à vendre
<% end %>

<% if @front_offer %>
  <% content_for(:meta_image) do %>
    <%= cl_image_path @front_offer.ceramiques.first.photos[0].path %>
  <% end %>
  <% content_for(:meta_description) do %>
    <% @front_offer.discount > 0 ? discount = " - Réduction de #{(@front_offer.discount * 100).to_i} % " : discount = "" %>
    <%= "#{@front_offer.title} #{discount} - #{@front_offer.description}".squish %>
  <% end %>
<% end %>


<div class="container">
  <div class="row">

<!-- INDEX H1 :  EITHER A DISCOUNT OFFER DIV, OR A SIMPLE H1 -->
  <% if @front_offer && params[:offer] == nil %>
    <div class="hidden-xs hidden-sm col-md-12 info-top">
      <%= render 'shared/general_info_bubble' %>
    </div>
    <div class="h1-index mobile hidden-md hidden-lg">
      <h1>Les créations uniques</h1>
      <hr>
    </div>
  <% elsif params[:offer].present? %>
    <div class="h1-index hidden-xs hidden-sm">
      <h1> <%= @front_offer.title %> : les produits</h1>
      <hr>
    </div>
  <% else %>
    <div class="h1-index hidden-xs hidden-sm">
      <h1>Les créations uniques : <%= ENV['MODEL']%></h1>
      <hr>
    </div>
    <div class="h1-index mobile hidden-md hidden-lg">
      <h1>Les créations uniques</h1>
      <hr>
    </div>
  <% end %>

<!-- LAPTOP -->
    <div class="hidden-xs hidden-sm col-md-3">
      <div id="ceramique-filters-content">
        <h2>Rechercher</h2>
        <form action="/<%=ENV['MODEL']%>" method='get'>
          <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Que recherchez-vous ?" name="search" autocomplete="off" />
          <a href="https://www.algolia.com" class="lienalgolia" target="blank"><%= image_tag "algolia.png", class: "algolialogo", alt: "Lien vers Algolia"%></a>
          <div class="category-filter filter">
            <h3>Catégories</h3>
            <div class="filter-category">
              <ul>
                <% @categories.each do |category| %>
                  <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category %>"><%= category %></label></li>
                <% end %>
              </ul>
              <h3>Prix max €</h3>
              <input type="number" name="prix_max" min="0" class="prix">
            </div>
            <% if  params[:categories].present? || params[:prix_max].present? || params[:offer].present? || params[:search].present?%>
              <label class="label-search all"><input type="checkbox" name="all[]" value="all">Tout afficher</label>
            <% end %>
            <input type="submit" id="recherche" class="btn btn-primary recherche" value="AFFICHER">
          </div>
        </form>
      </div>
    </div>

    <div class="hidden-xs hidden-sm col-md-9 ceramique-list">
      <% @ceramiques.each do |ceramique| %>
          <div class="col-xs-6">
            <%= link_to ceramique_path(ceramique), title: "#{ceramique.name}", class: "cardlink" do %>
              <div class="ceramiquecard">
                <% if ceramique.offer%>
                  <% if ceramique.offer.discount > 0 %>
                    <p class="discount-offer">-<%= (ceramique.offer.discount * 100).to_i %>%</p>
                    <div class="ribbon"></div>
                  <% end %>
                <% end %>
                <div class="img-container">
                  <% if ceramique.photos[0].height >= ceramique.photos[0].width %>
                    <%= cl_image_tag(cl_image_path(ceramique.photos[0].path, :width => 285, :height => 285, :crop => :fit), alt: "#{ceramique.name}", class: "img-resized") %>
                  <% else %>
                    <img class="img" src="<%= cl_image_path ceramique.photos[0].path %>" alt="<%=ceramique.name%>">
                  <% end %>
                  <% ceramique.offer ? discount =  ceramique.offer.discount : discount = 0 %>
                  <h2 class="prix-index"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                  <% if ceramique.offer %>
                    <% if ceramique.offer.discount > 0 %>
                      <h3 class="previous-price"><%= humanized_money(ceramique.price)%> <%= currency_symbol %></h3>
                    <% end %>
                  <% end %>
                </div>
                <h2> <%= ceramique.name.capitalize%> </h2>
                <% ratio = ceramique.photos[0].width.to_f / ceramique.photos[0].height > 1.35 ? "large" : "small" %>
                <p class="<%= ratio %>"> <%= ceramique.description%> </p>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>

<!-- MOBILE -->

<div class="hidden-md hidden-lg">
  <div id="ceramique-filters-content-mobile">
    <h2>Rechercher<i id="close-search" class="fa fa-times-circle cross-1" aria-hidden="true"></i></h2>
    <form action="/<%=ENV['MODEL']%>" method='get'>
      <div class="form-body">
      <input type="search" id="aa-search-input" class="aa-input-search aa-input-mobile" placeholder="Que recherchez-vous ?" name="search" autocomplete="off" />
        <h3>Catégories</h3>
        <div class="filter-category">
          <ul>
            <% @categories.each do |category| %>
              <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category %>"><%= category %></label></li>
            <% end %>
          </ul>
          <h3>Prix max €</h3>
          <input type="number" name="prix_max" min="0" class="prix">
        </div>
        <% if  params[:categories].present? || params[:prix_max].present? || params[:offer].present? || params[:search].present?%>
          <label class="label-search all"><input type="checkbox" name="all[]" value="all">Tout afficher</label>
        <% end %>
      </div>
      <div class="mobile-submit">
        <input type="submit" id="recherche" class="btn btn-primary recherche" value="AFFICHER LES PRODUITS">
      </div>
    </form>
  </div>
</div>

<div id="mobile-filter-search" class="hidden-md hidden-lg">
  <i class="fa fa-search" aria-hidden="true"></i>
</div>

<div class="hidden-md hidden-lg col-xs-12 col-md-12 ceramique-list">
      <% @ceramiques.each do |ceramique| %>
          <div class="col-xs-12">
            <%= link_to ceramique_path(ceramique), title: "#{ceramique.name}", class: "cardlink" do %>
              <div class="ceramiquecard mobile">
                <% if ceramique.offer%>
                  <% if ceramique.offer.discount > 0 %>
                    <p class="discount-offer">-<%= (ceramique.offer.discount * 100).to_i %>%</p>
                    <div class="ribbon"></div>
                  <% end %>
                <% end %>
                <div class="img-container">
                  <img class="img" src="<%= cl_image_path ceramique.photos[0].path %>" alt="<%=ceramique.name%>">
                  <% ceramique.offer ? discount =  ceramique.offer.discount : discount = 0 %>
                  <% if ceramique.offer %>
                    <% if ceramique.offer.discount > 0 %>
                      <div class="allpricesmobile-w">
                        <h2 class="prix-index-mobile"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                        <h3 class="previous-price-mobile"><%= humanized_money(ceramique.price)%> <%= currency_symbol %></h3>
                      </div>
                      <% else %>
                        <div class="allpricesmobile-w-zero">
                          <h2 class="prix-index-mobile"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                        </div>
                    <% end %>
                  <% else %>
                    <div class="allpricesmobile-wo">
                      <h2 class="prix-index-mobile"><%= humanized_money(ceramique.price * (1 - discount))%> <%= currency_symbol %></h2>
                    </div>
                  <% end %>
                </div>
                <h2 class="card-mobile-h2"> <%= ceramique.name.capitalize%> </h2>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "<%=request.original_url%>",
    "image":"<%=request.original_url%><%= image_path ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ')%>",
    "priceRange":"20€ à 800€"
  }
  </script>
  <script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
  data-pin-round="true"
  data-pin-tall="15px"
></script>
<%= render 'shared/facebookshare' %>

<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<!-- Initialize autocomplete menu -->
<script>
var client = algoliasearch("SBTERHV352", "959036b3f757a9f94938c6d46a03c2d5");
var index = client.initIndex('Ceramique');
//initialize autocomplete on search input (ID selector must match)
autocomplete('#aa-search-input',
{ hint: false }, {
    source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
    //value to be displayed in input control after user's suggestion selection
    displayKey: 'name',
    //hash of templates used when rendering dataset
    templates: {
        //'suggestion' templating function used to render a single suggestion
        suggestion: function(suggestion) {
          return '<span>' + suggestion._highlightResult.name.value + '</span>'
          + '<span>' + suggestion._highlightResult.description.value + '</span>'
          +'<span>' + suggestion._highlightResult.category.name.value + '</span>';
        }
    }
});
</script>
<% end %>
