<% content_for(:description) do %>
<%= @ceramique.name.capitalize %>. Prix : <%= humanized_money(@ceramique.price)%> €. Livraison sous 3 semaines.
<% end %>
<% content_for(:title_tag) do %>
Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%> - <%= @ceramique.name.capitalize %>
<% end %>
<% content_for(:meta_image) do %>
  <%= cl_image_path @ceramique.photos[0].path %>
<% end %>
<% content_for(:meta_description) do %>
  <%= @ceramique.name + ": " + @ceramique.description %>
<% end %>


<div class="container">

<!-- LAPTOP -->
  <div class="hidden-xs hidden-sm">

    <div class="row">
      <div class="col-md-12">
        <div class="product-show text center">

          <img class="img-front" id="zoom01" src="<%= cl_image_path @ceramique.photos[0].path %>" data-zoom-image="<%= cl_image_path @ceramique.photos[0].path %>" alt="<%=@ceramique.name%>">

          <div class="info-add-basket">
            <div class="description">
              <h1> <%= @ceramique.name.capitalize%> </h1>
              <div class="social-buttons">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?<%=@twitter_url%>">
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-custom="true">
                  <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </div>
              <p class="description"> <%= @ceramique.description%> </p>
              <hr>
            </div>
            <div class="prix-form">
              <% @ceramique.offer ? discount =  @ceramique.offer.discount : discount = 0 %>
              <h2 class="prix"> <%= humanized_money(@ceramique.price * (1 - discount))%> <%= currency_symbol %> </h2>
              <% if @ceramique.offer %>
                    <% if @ceramique.offer.discount > 0 %>
                      <h3 class="previous-price"><%= humanized_money(@ceramique.price)%> <%= currency_symbol %></h3>
                    <% end %>
                  <% end %>
              <% if  @ceramique.stock > 0 %>
                <form action="/orders" method="post" authenticity_token="true" class="form">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="qte">
                    <label for="quantity">Quantité </label>
                    <select name="quantity">
                      <% for i in 1..@ceramique.stock %>
                        <option value="<%= i %>"><%= i %></option>
                      <% end %>
                    </select>
                  </div>
                  <input type="hidden" name="ceramique" value="<%= @ceramique.id%>">
                  <button type="submit" class="pull-right btn btn-primary order">
                    <i class="fa fa-plus""></i> Ajouter au panier
                  </button>
                </form>
              <% else %>
                  <h2 class="stock0">Stock épuisé</h2>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="other-imgs">
          <div class="images">
            <% @ceramique.photos.each_with_index do |photo, index| %>
              <% if index < 4 %>
                <img class="thumbnail" src="<%= cl_image_path @ceramique.photos[index].path %>" alt="<%=@ceramique.name%>">
              <% end %>
            <% end %>
          </div>
          <%= link_to ceramiques_path do %>
            <span><i class="fa fa-arrow-right"></i> Liste des <%= ENV['MODEL'].capitalize%></span>
          <% end %>
        </div>
      </div>
    </div>

  </div>

<!-- MOBILE -->
  <div class="hidden-md hidden-lg">
    <div class="row">
      <div class="col-xs-12">

        <div class="head">
          <h1> <%= @ceramique.name.capitalize%> </h1>
          <div class="image-xs-sm">
            <img class="img-front" src="<%= cl_image_path @ceramique.photos[0].path %>" alt="<%=@ceramique.name%>">
          </div>
        </div>
        <div class="other-imgs other-mobile">
          <div class="images images-mobile">
            <% @ceramique.photos.each_with_index do |photo, index| %>
              <% if index < 4 %>
                <img class="thumbnail" src="<%= cl_image_path @ceramique.photos[index].path %>" alt="<%=@ceramique.name%>">
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="product-show-mobile text center">
          <div class="info-add-basket">
            <div class="description">
              <p class="description"> <%= @ceramique.description%> </p>
              <hr>
            </div>
            <div class="prix-form">
              <h2 class="prix"> <%= humanized_money(@ceramique.price)%> <%= currency_symbol %> </h2>
              <% if  @ceramique.stock > 0 %>
                <form action="/orders" method="post" authenticity_token="true" class="form">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="qte">
                    <label for="quantity">Qté </label>
                    <select name="quantity">
                      <% for i in 1..@ceramique.stock %>
                        <option value="<%= i %>"><%= i %></option>
                      <% end %>
                    </select>
                  </div>
                  <input type="hidden" name="ceramique" value="<%= @ceramique.id%>">
                  <button type="submit" class="pull-right btn btn-primary order">
                    <i class="fa fa-plus""></i> <i class="fa fa-shopping-cart"></i>
                  </button>
                </form>
              <% else %>
                  <h2 class="stock0">Stock épuisé</h2>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mobile-link">
          <%= link_to ceramiques_path do %>
            <span><i class="fa fa-arrow-right"></i> Liste des <%= ENV['MODEL'].capitalize%></span>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "<%=@ceramique.name.capitalize%>",
    "description": "<%=@ceramique.description%>",
    "offers": {
      "@type": "Offer",
      "price": "<%= humanized_money(@ceramique.price)%>",
      "priceCurrency": "€"
    },
    "url": "https://<%= ENV['APPNAME']%>.herokuapp.com/ceramiques/<%=@ceramique.id%>",
    "image": "<%=cl_image_path @ceramique.photos[0].path%>"
  }
  </script>
  <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
    data-pin-round="true"
    data-pin-tall="15px"
></script>
<% end %>
