<% content_for(:description) do %>
Module de prise de réservations. Offrez la possibilité à vos clients d'effectuer des stages ou des visites de votre atelier.
<% end %>
<% content_for(:title_tag) do %>
  Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%> - Réserver un stage
<% end %>
<% content_for(:meta_image) do %>
  <%= image_path ENV['STAGEPIC'] %>
<% end %>
<% content_for(:meta_description) do %>
  Module de prise de réservations. Offrez la possibilité à vos clients d'effectuer des stages ou des visites de votre atelier.
<% end %>

<%= photo_update('lessonphoto', 80, '', '', 30, '.stagepic', "Mise à jour photo pour stages")%>

<div class="container">
  <div class="row">

    <!-- LAPTOP -->
    <div class="hidden-xs col-sm-offset-2 col-sm-8">
      <div class="stage">
           <%= render 'shared/socialbuttons' %>
        <%= simple_form_for @lesson do |f| %>
          <%= f.input :student, collection: ENV['MINBOOKING'].to_i..ENV['CAPACITY'].to_i, label: "Nombre de participants", selected: ENV['MINBOOKING'].to_i %>
          <label class="control-label select required" for="lesson_student"><abbr title="required">*</abbr> 1er jour de stage</label>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <span class="input-group-addon">
                <span class="fa fa-calendar-o"></span>
              </span>
              <input type='text' class="form-control" name="lesson[start]" placeholder="Cliquez sur l'icône calendrier pour sélectionner une date"/>
            </div>
          </div>
          <%= f.input :duration, collection: [ENV['MINDURATION'],ENV['MAXDURATION']], label: "Durée en jours", selected: ENV['MINDURATION'] %>
          <% if user_signed_in? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>
          <div class="submit-div-stage">
            <%= f.submit "Demande de réservation", class: "btn btn-primary stage-btn" %>
          </div>
        <% end %>
        <div class="text-container">
          <div class="texte-stage">
            <% if user_signed_in? && current_user.admin %>
              <% article_typing("stage", "horizontal", "markdown1", "live-text3", "input3") %>
              <% @markdown = @markdown1 %>
              <%= render 'shared/articletyping' %>
          <% else %>
            <% article_display("stage", "horizontal") %>
            <%= @markdown.html_safe %>
          <% end %>
          </div>
        </div>
        </div>
    </div>

    <!-- MOBILE -->
    <div class="hidden-sm hidden-md hidden-lg col-xs-12">
      <div class="stage">
        <%= simple_form_for @lesson do |f| %>
          <%= f.input :student, collection: ENV['MINBOOKING'].to_i..ENV['CAPACITY'].to_i, label: "Nombre de participants", selected: ENV['MINBOOKING'].to_i %>
          <label class="control-label select required" for="lesson_student"><abbr title="required">*</abbr> 1er jour de stage</label>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <span class="input-group-addon">
                <span class="fa fa-calendar-o"></span>
              </span>
              <input type='text' class="form-control" name="lesson[start]" placeholder="JJ.MM.AAAA"/>
            </div>
          </div>
          <%= f.input :duration, collection: [ENV['MINDURATION'],ENV['MAXDURATION']], label: "Durée en jours", selected: ENV['MINDURATION'] %>
          <% if user_signed_in? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>
          <div class="submit-div-stage">
            <%= f.submit "Demande de réservation", class: "btn btn-primary stage-btn" %>
          </div>
        <% end %>
        <div class="wrapper">
          <div class="texte-stage">
            <% article_display("stage", "horizontal") %>
            <%= @markdown.html_safe %>
          </div>
        </div>
        </div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {

      var confirmed_course_js_format = <%= raw @confirmed_course_js_format%>

      $('#datetimepicker1').datetimepicker({
        disabledDates: <%= raw @disabled_dates%>,
        format: 'DD.MM.YYYY',
        minDate: Date.now(),
        locale: moment.locale('fr')
        }).on('dp.show dp.change dp.update', function () {
          $('.tooltip-inner').remove();
          $('.tooltip-arrow').remove();

          $('[data-day]').each(function(){
            $(this).addClass('current-data-day');
            var currentdate = $(this).data('day');

            confirmed_course_js_format.forEach(function(course) {
              if (currentdate == course) {
                $('.current-data-day').addClass('available-course')
                $('.current-data-day').attr("title", "Cours confirmé, places disponibles");
                $('.current-data-day').data("container", "body");
                $('.current-data-day').tooltip()
              }
            });

            $('.current-data-day').removeClass('current-data-day')
          });
        });
    });
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TouristAttraction",
    "name": "Stage de poterie",
    "description": "Fabriquez vos poteries",
    "url": "https://<%= ENV['APPNAME']%>.herokuapp.com/lessons/new"
  }
  </script>
  <script>
    document.getElementById('facebookshare').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://<%=ENV['APPNAME']%>.herokuapp.com<%=request.fullpath%>',
      }, function(response){});
    }
  </script>
<% end %>
