<% content_for(:title_tag) do %>
  Paiement demande de stage
<% end %>

<div class="container">
  <div class="row">

    <div class="hidden-xs col-sm-offset-2 col-sm-8">
      <div class="text-center-stage stage-payment">
        <h3><%=t(:deposit)%> <%= humanized_money(@order.amount) %> <%= currency_symbol %></h3>
        <p><%= t(:course)%> <%= @order.lesson.duration%> <%= t(:day, count: @order.lesson.duration)%>, <%= @order.lesson.student%> <%= t(:people, count: @order.lesson.student)%>.</p>
        <p><%=t(:lesson_start)%> : <%= l @order.lesson.start, format: :short %>.</p>
        <form action="/orders/<%= @order.id%>/payments/new" method="get">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <input type="hidden" name="locale" value="<%= I18n.locale%>">
          <button type="submit" class="btn btn-primary order-stage">
            <%= t(:proceed_to_payment).upcase %>
          </button>
        </form>
      </div>
    </div>

    <div class="hidden-sm hidden-md hidden-lg col-xs-12">
      <div class="text-center-stage-mobile stage-payment-mobile">
        <h4><%=t(:deposit)%>  <%= humanized_money(@order.amount) %> <%= currency_symbol %></h4>
        <p><%= t(:course)%> <%= @order.lesson.duration%> <%= t(:day, count: @order.lesson.duration)%>, <%= @order.lesson.student%> <%= t(:people, count: @order.lesson.student)%>.</p>
        <p><%=t(:lesson_start)%> : <%= l @order.lesson.start, format: :short %>.</p>
        <form action="/orders/<%= @order.id%>/payments/new" method="get">
          <input type="hidden" name="order_id" value="<%= @order.id%>">
          <input type="hidden" name="locale" value="<%= I18n.locale%>">
          <button type="submit" class="btn btn-primary order-stage">
            <%= t(:proceed_to_payment)%>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>
