<% content_for(:title_tag) do %>
  <%= t(:payment)%>
<% end %>

<h1 class="<%=@payment_theme%>-payment-h1"><%= t(:payment)%></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">

      <div class="pay-form-<%=@payment_theme%>">
        <% unless @order.lesson.present? %>
          <div class="adress text-center">
            <% unless  @order.take_away %>

              <h3><%=t(:delivery)%></h3>
              <h4><%=t(:delivery_lead_time, lead_time: @admin.tracking)%></h4>
              <h4><%= current_user.first_name%> <%= current_user.last_name%></h4>
              <h4><%= current_user.adress%></h4>
              <h4><%= current_user.zip_code%> - <%= current_user.city%></h4>
              <% full_country = ISO3166::Country[current_user.country] %>
              <h4><%= full_country.translations[I18n.locale.to_s] || full_country.name%></h4>
              <% unless @order.lesson.present? %>
                <%= link_to edit_user_registration_path do %>
                  <div class="hidden-xs laptop-link-coord">
                    <%= t(:contact_update)%>
                  </div>
                  <div class="hidden-sm hidden-md hidden-lg mobile-link-coord">
                    <%= t(:contact_update_mobile)%>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <h3><%=t(:order_recover)%></h3>
              <h4><%=t(:order_recover_appointment, name: "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}")%></h5>
            <% end %>
          </div>
        <% end %>
        <div class="product-amount lesson-amount text-center">
          <% if @order.lesson.present?  %>
            <h3><%=t(:deposit)%> <%= humanized_money(@order.amount) %> <%= currency_symbol %></h3>
            <h4><%=t(:course)%> <%= @order.lesson.duration%> jours, <%= @order.lesson.student%> <%=t(:person, count: @order.lesson.student)%>.</h4>
            <h4><%=t(:lesson_start)%> <%= @order.lesson.start.day%>/<%= @order.lesson.start.month%>/<%= @order.lesson.start.year%></h4>
          <% else %>
            <% @order.promo ? discount = @order.promo.percentage : discount = 0 %>
            <h3><%=t(:total_amount)%> : <%= @order.take_away ? humanized_money(@order.amount) : humanized_money((@order.amount + @order.port)) %> <%= currency_symbol %></h3>
            <h4><%=t(:total_articles)%> : <%= humanized_money(@order.amount) %> €</h4>
            <% unless @order.take_away %>
              <h4><%=t(:total_port)%> : <%= humanized_money(@order.port) %> €</h4>
            <% end %>
          <% end %>
          <h3 class="payment-choice"><%=t(:stripe_paypal)%></h3>
          <div class="payment-methods">
            <%= form_tag order_payments_path(@order) do %>
              <%= hidden_field_tag "method", "stripe" %>
              <button type="submit" id="stripe-pay" class="pay-button">
                <span><%=t(:pay_by_card)%></span>
              </button>

              <div class="secure">
                <% @payment_theme == "darktheme" ? logo = "stripe.svg" : logo = "stripe-black.svg" %>
                <div class="stripe"><span><%=t(:secured_payment)%></span> <%= image_tag logo, class: "stripe-logo"%></div>
                <p><%=t(:cards)%></p>
                <div class="cards">
                   <%= image_tag "mastercard.svg", class: "mastercard"%> <%= image_tag "visa.svg", class: "visa"%> <%= image_tag "american-express.svg", class: "american-express"%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <div id="stripe-errors" class="alert alert-dismissible alert-default" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

<% content_for(:after_js) do %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");

    document.getElementById("stripe-pay").addEventListener('click', payWithStripe, false);

    function payWithStripe(event) {
      event.preventDefault();
      stripe.redirectToCheckout({
        sessionId: "<%= @stripe_session %>"
      }).then(function (result) {
        if (result.error.message) {
          var warningDiv = document.getElementById("stripe-errors");
          warningDiv.innerHTML += result.error.message;
          warningDiv.classList.add("active")
        }
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    }
  </script>
<% end %>
