<p><%=t(:hello)%> <%= @resource.email %>!</p>

<p><%= t(:password_change_info)%></p>

<p><%= link_to t(:password_change), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:password_unchanged)%></p>
